.mediaViewInfo {
	--web-view-name: Xuất-tinh-nhiều-có-gây-nguy-hiểm?;
	--web-view-id: Xut-tinh-nhiu-c-gy-nguy-him;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Xut-tinh-nhiu-c-gy-nguy-him;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Xut-tinh-nhiu-c-gy-nguy-him {
	position: absolute;
	width: 1920px;
	height: 4524px;
	background-color: rgba(255,176,192,1);
	overflow: hidden;
	--web-view-name: Xuất-tinh-nhiều-có-gây-nguy-hiểm?;
	--web-view-id: Xut-tinh-nhiu-c-gy-nguy-him;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#XUT_TINH_NHIU {
	position: absolute;
	width: 1920px;
	height: 5000px;
	left: 0px;
	top: 75px;
	overflow: visible;
}
#Group_10_vp {
	position: absolute;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 4183px;
	overflow: visible;
}
#Group_15558 {
	position: absolute;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1522_vr {
	fill: rgba(5,44,105,1);
}
.Rectangle_1522_vr {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 0px;
}
#Group_8 {
	position: absolute;
	width: 1485px;
	height: 245px;
	left: 218px;
	top: 49px;
	overflow: visible;
}
#MEE_I_A_vt {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_vu {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 651px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_wwwfacebookcomxusotha_vv {
	left: 1050px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 436px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Group_15550_vw {
	position: absolute;
	width: 194px;
	height: 36px;
	left: 1050px;
	top: 163px;
	overflow: visible;
}
#Rectangle_1528_vx {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1529_vy {
	position: absolute;
	width: 35px;
	height: 36px;
	left: 53px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1530_vz {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 107px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1531_v {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 160px;
	top: 0px;
	overflow: visible;
}
#Path_125_v {
	fill: rgba(5,44,105,1);
}
.Path_125_v {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 75px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#logo_ti_gin_v {
	position: absolute;
	width: 169px;
	height: 169px;
	left: 875.5px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#icons8_back_48px_v {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 80px;
	top: 14px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: dacdiemsinhhoc.html;
	cursor: pointer;
}