.mediaViewInfo {
	--web-view-name: Hành-trình-đi-tìm-chính-mình;
	--web-view-id: Hnh-trnh-i-tm-chnh-mnh;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Hnh-trnh-i-tm-chnh-mnh;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Hnh-trnh-i-tm-chnh-mnh {
	position: absolute;
	width: 1920px;
	height: 4731px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Hành-trình-đi-tìm-chính-mình;
	--web-view-id: Hnh-trnh-i-tm-chnh-mnh;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#i_tm_chnh_mnh {
	position: absolute;
	width: 1920px;
	height: 6480px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_125_yo {
	fill: rgba(5,74,127,1);
}
.Path_125_yo {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 75px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#logo_ti_gin_yp {
	position: absolute;
	width: 169px;
	height: 169px;
	left: 875.5px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#icons8_back_48px_yq {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 80px;
	top: 14px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: lgbt.html;
	cursor: pointer;
}
#Group_10_yr {
	position: absolute;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 4388px;
	overflow: visible;
}
#Rectangle_1522_ys {
	fill: rgba(5,74,127,1);
}
.Rectangle_1522_ys {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 0px;
}
#Group_8_yt {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 169px;
	top: 49px;
	overflow: visible;
}
#MEE_I_A_yu {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_yv {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 678px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_httpswwwfacebookcomxu_yw {
	left: 1050px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 534px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#icons8_facebook_circled_32_yx {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1050px;
	top: 164px;
	overflow: visible;
}
#icons8_instagram_logo_32_yy {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1142px;
	top: 164px;
	overflow: visible;
}
#icons8_tiktok_32_yz {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1234px;
	top: 164px;
	overflow: visible;
}
#icons8_mail_32_y {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1326px;
	top: 164px;
	overflow: visible;
}