.mediaViewInfo {
	--web-view-name: Trầm-cảm-bạn-có-đang-phải-chịu-đựng-P1;
	--web-view-id: Trm-cm-bn-c-ang-phi-chu-ng-P1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Trm-cm-bn-c-ang-phi-chu-ng-P1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Trm-cm-bn-c-ang-phi-chu-ng-P1 {
	position: absolute;
	width: 1920px;
	height: 5054px;
	background-color: rgba(255,176,192,1);
	overflow: hidden;
	--web-view-name: Trầm-cảm-bạn-có-đang-phải-chịu-đựng-P1;
	--web-view-id: Trm-cm-bn-c-ang-phi-chu-ng-P1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Trm_cm_bn_c_ang_phi_chu_ng_P1 {
	position: absolute;
	width: 1920px;
	height: 6480px;
	left: 0px;
	top: 75px;
	overflow: visible;
}
#Path_125_e {
	fill: rgba(31,74,122,1);
}
.Path_125_e {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 75px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#logo_ti_gin_j {
	position: absolute;
	width: 169px;
	height: 169px;
	left: 875.5px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#icons8_back_48px_g {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 80px;
	top: 14px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: tamly.html;
	cursor: pointer;
}
#Group_10_h {
	position: absolute;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 4711px;
	overflow: visible;
}
#Group_15570 {
	position: absolute;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1522_j {
	fill: rgba(31,74,122,1);
}
.Rectangle_1522_j {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 0px;
}
#Group_8_k {
	position: absolute;
	width: 1485px;
	height: 245px;
	left: 218px;
	top: 49px;
	overflow: visible;
}
#MEE_I_A_l {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_m {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 651px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_wwwfacebookcomxusotha_n {
	left: 1050px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 436px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Group_15550_q {
	position: absolute;
	width: 194px;
	height: 36px;
	left: 1050px;
	top: 163px;
	overflow: visible;
}
#Rectangle_1528_p {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1529_q {
	position: absolute;
	width: 35px;
	height: 36px;
	left: 53px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1530_r {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 107px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1531_u {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 160px;
	top: 0px;
	overflow: visible;
}