.mediaViewInfo {
	--web-view-name: Xâm-hại-tình-dục-bằng-lời-nói-nhan-nhản-sao-còn-thanh-thản?;
	--web-view-id: Xm-hi-tnh-dc-bng-li-ni-nhan-nhn-sao-cn-thanh-thn;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Xm-hi-tnh-dc-bng-li-ni-nhan-nhn-sao-cn-thanh-thn;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Xm-hi-tnh-dc-bng-li-ni-nhan-nhn-sao-cn-thanh-thn {
	position: absolute;
	width: 1920px;
	height: 6189px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Xâm-hại-tình-dục-bằng-lời-nói-nhan-nhản-sao-còn-thanh-thản?;
	--web-view-id: Xm-hi-tnh-dc-bng-li-ni-nhan-nhn-sao-cn-thanh-thn;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#bai_1 {
	position: absolute;
	width: 1920px;
	height: 9600px;
	left: 0px;
	top: 74px;
	overflow: visible;
}
#bai_1_s {
	position: absolute;
	width: 1920px;
	height: 9600px;
	left: 0px;
	top: 38px;
	overflow: visible;
}
#Group_4_t {
	position: absolute;
	width: 1920px;
	height: 169px;
	left: 0px;
	top: -47px;
	overflow: visible;
}
#Path_125_a {
	fill: rgba(0,70,127,1);
}
.Path_125_a {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 75px;
	left: 0px;
	top: 47px;
	transform: matrix(1,0,0,1,0,0);
}
#logo_ti_gin_a {
	position: absolute;
	width: 169px;
	height: 169px;
	left: 875.5px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#icons8_back_48px_w {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 80px;
	top: 61px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baovebanthan.html;
	cursor: pointer;
}
#Group_10_x {
	position: absolute;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 5846px;
	overflow: visible;
}
#Rectangle_1522_b {
	fill: rgba(43,56,78,1);
}
.Rectangle_1522_b {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 0px;
}
#Group_8_b {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 169px;
	top: 56px;
	overflow: visible;
}
#MEE_I_A_b {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_b {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 678px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_httpswwwfacebookcomxu_b {
	left: 1050px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 534px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#icons8_facebook_circled_32_b {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1050px;
	top: 164px;
	overflow: visible;
}
#icons8_instagram_logo_32_c {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1142px;
	top: 164px;
	overflow: visible;
}
#icons8_tiktok_32_c {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1234px;
	top: 164px;
	overflow: visible;
}
#icons8_mail_32_b {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1326px;
	top: 164px;
	overflow: visible;
}