.mediaViewInfo {
	--web-view-name: Khi-ngày-dâu-chẳng-còn-là-chuyện-phải-đau-đầu;
	--web-view-id: Khi-ngy-du-chng-cn-l-chuyn-phi-au-u;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Khi-ngy-du-chng-cn-l-chuyn-phi-au-u;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Khi-ngy-du-chng-cn-l-chuyn-phi-au-u {
	position: absolute;
	width: 1920px;
	height: 5333px;
	background-color: rgba(255,176,192,1);
	overflow: hidden;
	--web-view-name: Khi-ngày-dâu-chẳng-còn-là-chuyện-phải-đau-đầu;
	--web-view-id: Khi-ngy-du-chng-cn-l-chuyn-phi-au-u;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#KHI_NGY_DU_CHNG_CN_L_CHUYN_PHI_tu {
	position: absolute;
	width: 1920px;
	height: 6000px;
	left: 0px;
	top: 32px;
	overflow: visible;
}
#Path_125_tv {
	fill: rgba(241,69,90,1);
}
.Path_125_tv {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 75px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#logo_ti_gin_tw {
	position: absolute;
	width: 169px;
	height: 169px;
	left: 875.5px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#icons8_back_48px_tx {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 80px;
	top: 14px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: dacdiemsinhhoc.html;
	cursor: pointer;
}
#Group_10_ty {
	position: absolute;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 4990px;
	overflow: visible;
}
#Rectangle_1522_tz {
	fill: rgba(241,69,90,1);
}
.Rectangle_1522_tz {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 0px;
}
#Group_8_t {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 169px;
	top: 49px;
	overflow: visible;
}
#MEE_I_A_t {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_t {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 678px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_httpswwwfacebookcomxu_t {
	left: 1050px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 534px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#icons8_facebook_circled_32_t {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1050px;
	top: 164px;
	overflow: visible;
}
#icons8_instagram_logo_32_t {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1142px;
	top: 164px;
	overflow: visible;
}
#icons8_tiktok_32_t {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1234px;
	top: 164px;
	overflow: visible;
}
#icons8_mail_32_t {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1326px;
	top: 164px;
	overflow: visible;
}