.mediaViewInfo {
	--web-view-name: Xâm-hại-tình-dục-bằng-lời-nói-nhan-nhản-sao-còn-thanh-thản?;
	--web-view-id: Xm-hi-tnh-dc-bng-li-ni-nhan-nhn-sao-cn-thanh-thn;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Xm-hi-tnh-dc-bng-li-ni-nhan-nhn-sao-cn-thanh-thn;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Xm-hi-tnh-dc-bng-li-ni-nhan-nhn-sao-cn-thanh-thn {
	position: absolute;
	width: 1920px;
	height: 6189px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Xâm-hại-tình-dục-bằng-lời-nói-nhan-nhản-sao-còn-thanh-thản?;
	--web-view-id: Xm-hi-tnh-dc-bng-li-ni-nhan-nhn-sao-cn-thanh-thn;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#bai_1 {
	position: absolute;
	width: 1920px;
	height: 9600px;
	left: 0px;
	top: 74px;
	overflow: visible;
}
#bai_1_v {
	position: absolute;
	width: 1920px;
	height: 9600px;
	left: 0px;
	top: 38px;
	overflow: visible;
}
#Group_4_w {
	position: absolute;
	width: 1920px;
	height: 169px;
	left: 0px;
	top: -47px;
	overflow: visible;
}
#Path_125_m {
	fill: rgba(0,70,127,1);
}
.Path_125_m {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 75px;
	left: 0px;
	top: 47px;
	transform: matrix(1,0,0,1,0,0);
}
#logo_ti_gin_s {
	position: absolute;
	width: 169px;
	height: 169px;
	left: 875.5px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#icons8_back_48px_n {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 80px;
	top: 61px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baovebanthan.html;
	cursor: pointer;
}
#Group_10_o {
	position: absolute;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 5846px;
	overflow: visible;
}
#Rectangle_1522_g {
	fill: rgba(43,56,78,1);
}
.Rectangle_1522_g {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 0px;
}
#Group_15575_d {
	position: absolute;
	width: 1485px;
	height: 245px;
	left: 218px;
	top: 49px;
	overflow: visible;
}
#Group_15581 {
	position: absolute;
	width: 1485px;
	height: 245px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#MEE_I_A_g {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_g {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 651px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_wwwfacebookcomxusotha_g {
	left: 1050px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 436px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Group_15550_g {
	position: absolute;
	width: 194px;
	height: 36px;
	left: 1050px;
	top: 163px;
	overflow: visible;
}
#Rectangle_1528_g {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1529_h {
	position: absolute;
	width: 35px;
	height: 36px;
	left: 53px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1530_h {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 107px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1531_k {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 160px;
	top: 0px;
	overflow: visible;
}