.mediaViewInfo {
	--web-view-name: Những-hiểu-lầm-thường-gặp-về-người-chuyển-giới – 4;
	--web-view-id: Nhng-hiu-lm-thng-gp-v-ngi-chuyn-gii__4;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Nhng-hiu-lm-thng-gp-v-ngi-chuyn-gii__4;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Nhng-hiu-lm-thng-gp-v-ngi-chuyn-gii__4 {
	position: absolute;
	width: 1920px;
	height: 5054px;
	background-color: rgba(255,176,192,1);
	overflow: hidden;
	--web-view-name: Những-hiểu-lầm-thường-gặp-về-người-chuyển-giới – 4;
	--web-view-id: Nhng-hiu-lm-thng-gp-v-ngi-chuyn-gii__4;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Trm_cm_bn_c_ang_phi_chu_ng_P1 {
	position: absolute;
	width: 1920px;
	height: 6480px;
	left: 0px;
	top: 75px;
	overflow: visible;
}
#Path_125_xn {
	fill: rgba(31,74,122,1);
}
.Path_125_xn {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 75px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#logo_ti_gin_xo {
	position: absolute;
	width: 169px;
	height: 169px;
	left: 875.5px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: main.html;
	cursor: pointer;
}
#icons8_back_48px_xp {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 80px;
	top: 14px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: tamly.html;
	cursor: pointer;
}
#Group_10_xq {
	position: absolute;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 4711px;
	overflow: visible;
}
#Rectangle_1522_xr {
	fill: rgba(31,74,122,1);
}
.Rectangle_1522_xr {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 0px;
}
#Group_8_xs {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 169px;
	top: 49px;
	overflow: visible;
}
#MEE_I_A_xt {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_xu {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 678px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_httpswwwfacebookcomxu_xv {
	left: 1050px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 534px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#icons8_facebook_circled_32_xw {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1050px;
	top: 164px;
	overflow: visible;
}
#icons8_instagram_logo_32_xx {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1142px;
	top: 164px;
	overflow: visible;
}
#icons8_tiktok_32_xy {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1234px;
	top: 164px;
	overflow: visible;
}
#icons8_mail_32_xz {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1326px;
	top: 164px;
	overflow: visible;
}