.mediaViewInfo {
	--web-view-name: Bảo vệ bản thân;
	--web-view-id: Bo_v_bn_thn;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Bo_v_bn_thn;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Bo_v_bn_thn {
	position: absolute;
	width: 1920px;
	height: 1424px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Bảo vệ bản thân;
	--web-view-id: Bo_v_bn_thn;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Header_n {
	position: absolute;
	width: 1920px;
	height: 282px;
	left: 0px;
	top: -1px;
	overflow: visible;
}
#Path_8203_n {
	opacity: 0.26;
	fill: rgba(255,205,249,1);
}
.Path_8203_n {
	overflow: visible;
	position: absolute;
	width: 799.891px;
	height: 548.32px;
	transform: matrix(1,0,0,1,1468.4588,515.8401) rotate(-37deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_8188_n {
	opacity: 0.07;
	fill: rgba(178,0,255,1);
}
.Path_8188_n {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 608.281px;
	transform: matrix(1,0,0,1,1417.7754,848.8593) rotate(40deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Web_1920__1_n {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 581px;
	overflow: visible;
}
#Path_8187_n {
	opacity: 0.2;
	fill: transparent;
	stroke: rgba(124,83,218,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_8187_n {
	overflow: visible;
	position: absolute;
	width: 684.127px;
	height: 580.933px;
	transform: matrix(1,0,0,1,-254.0659,158.1632) rotate(51deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#logo_ti_gin_n {
	position: absolute;
	width: 291px;
	height: 291px;
	left: 123px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: main.html;
	cursor: pointer;
}
#BO_V_BN_THN {
	left: 739px;
	top: 264px;
	position: absolute;
	overflow: visible;
	width: 443px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(124,83,218,1);
}
#Group_15494_ob {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 179px;
	top: 425px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet23.html;
	cursor: pointer;
}
#Rectangle_1526_oc {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_oc {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Xm_hi_tnh_dc_bng_li_ni_nhan_nh {
	left: 20px;
	top: 291px;
	position: absolute;
	overflow: visible;
	width: 317px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_oe {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_oe {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_of {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#Image_2 {
	position: absolute;
	width: 450px;
	height: 273px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15495_oh {
	position: absolute;
	width: 450px;
	height: 550px;
	left: 735px;
	top: 420px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet24.html;
	cursor: pointer;
}
#Rectangle_1526_oi {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_oi {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 5px;
}
#L_chn_an_ton_khi__kin_thc_v_bn {
	left: 20px;
	top: 321px;
	position: absolute;
	overflow: visible;
	width: 303px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_ok {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_ok {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 434.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_ol {
	left: 20px;
	top: 465px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#n_bai_4 {
	position: absolute;
	width: 450px;
	height: 278px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_8_on {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 169px;
	top: 1153px;
	overflow: visible;
}
#MEE_I_A_oo {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_op {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 678px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_httpswwwfacebookcomxu_oq {
	left: 1050px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 534px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#icons8_facebook_circled_32_or {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1050px;
	top: 164px;
	overflow: visible;
}
#icons8_instagram_logo_32_os {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1142px;
	top: 164px;
	overflow: visible;
}
#icons8_tiktok_32_ot {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1234px;
	top: 164px;
	overflow: visible;
}
#icons8_mail_32_ou {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1326px;
	top: 164px;
	overflow: visible;
}
#Group_20_ov {
	position: absolute;
	width: 1128px;
	height: 32px;
	left: 639px;
	top: 33px;
	overflow: visible;
}
#CHUYN_MC_ow {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: chuyenmuc.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#THUT_NG_ox {
	left: 250px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: thuatngu.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CHIA_S_CNG_CU_oy {
	left: 722px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: share.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#PODCAST_oz {
	left: 491px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: podcast.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#NG_H_o {
	left: 1040px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: donate.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Search_Bar_o {
	opacity: 0.69;
	position: absolute;
	width: 740px;
	height: 48px;
	left: 644px;
	top: 98px;
	overflow: visible;
}
#Rectangle_1515_o {
	fill: rgba(255,255,255,1);
}
.Rectangle_1515_o {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 758px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Search_o {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 18px;
	top: 16px;
	overflow: visible;
}
#Rectangle_176_o {
	fill: transparent;
}
.Rectangle_176_o {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_99_o {
	fill: rgba(34,34,34,1);
}
.Path_99_o {
	overflow: visible;
	position: absolute;
	width: 15.9px;
	height: 15.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bn_ang_C_Thc_Mc_G__o {
	left: 273px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,103,224,1);
}
#Microphone_o {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 708px;
	top: 16px;
	overflow: visible;
}
#Rectangle_313_o {
	fill: transparent;
}
.Rectangle_313_o {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_124_o {
	fill: rgba(34,34,34,1);
}
.Path_124_o {
	overflow: visible;
	position: absolute;
	width: 12.562px;
	height: 16px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11_pa {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11_pa {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 25.316px;
	left: 43.5px;
	top: 11.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15543 {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 1291px;
	top: 425px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet9.html;
	cursor: pointer;
}
#Rectangle_1526_pc {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_pc {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Vn_mn_cu_chuyn__Xm_hi_tnh_dc_c {
	left: 20px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 322px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_pe {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_pe {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_pf {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#n_bai_5_dang_bao_pg {
	position: absolute;
	width: 450px;
	height: 273px;
	left: 0px;
	top: 0px;
	overflow: visible;
}