.mediaViewInfo {
	--web-view-name: Chia sẻ cùng Cừu;
	--web-view-id: Chia_s_cng_Cu;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Chia_s_cng_Cu;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Chia_s_cng_Cu {
	position: absolute;
	width: 1920px;
	height: 1424px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Chia sẻ cùng Cừu;
	--web-view-id: Chia_s_cng_Cu;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Path_8186_id {
	opacity: 0.74;
	fill: transparent;
	stroke: rgba(231,160,254,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_8186_id {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 454.713px;
	transform: matrix(1,0,0,1,1579.2602,901.5336) rotate(33deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Saly-16 {
	opacity: 0.9;
	position: absolute;
	width: 992px;
	height: 992px;
	left: 3px;
	top: 321px;
	overflow: visible;
}
#Web_1920__1_if {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 578px;
	overflow: visible;
}
#Group_15534 {
	position: absolute;
	width: 3518.466px;
	height: 827.758px;
	left: -509.156px;
	top: -511.453px;
	overflow: visible;
}
#Customer_Quote_ih {
	opacity: 0.5;
	transform: translate(89.156px, 643.453px) matrix(1,0,0,1,-80.3961,-501.9264) rotate(-2deg);
	transform-origin: center;
	position: absolute;
	width: 3134.023px;
	height: 556.728px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Subtraction_13_ii {
	fill: rgba(176,97,255,1);
}
.Subtraction_13_ii {
	overflow: visible;
	position: absolute;
	width: 3151.543px;
	height: 665.765px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Customer_Quote_ij {
	opacity: 0.72;
	transform: translate(89.156px, 643.453px) matrix(1,0,0,1,-6.5328,-427.4049) rotate(-10deg);
	transform-origin: center;
	position: absolute;
	width: 1993.065px;
	height: 409.585px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Subtraction_13_ik {
	fill: rgba(130,87,230,1);
}
.Subtraction_13_ik {
	overflow: visible;
	position: absolute;
	width: 2033.909px;
	height: 749.455px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Customer_Quote_il {
	opacity: 0.5;
	transform: translate(89.156px, 643.453px) matrix(1,0,0,1,276.9889,-507.9379) rotate(5deg);
	transform-origin: center;
	position: absolute;
	width: 3134.023px;
	height: 556.728px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Subtraction_13_im {
	fill: rgba(150,97,255,1);
}
.Subtraction_13_im {
	overflow: visible;
	position: absolute;
	width: 3170.619px;
	height: 827.758px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_10 {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 169px;
	top: 1149px;
	overflow: visible;
}
#Group_8 {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#MEE_I_A_ip {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_iq {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 678px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_httpswwwfacebookcomxu_ir {
	left: 1050px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 534px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#icons8_facebook_circled_32_is {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1050px;
	top: 164px;
	overflow: visible;
}
#icons8_instagram_logo_32_it {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1142px;
	top: 164px;
	overflow: visible;
}
#icons8_tiktok_32_iu {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1234px;
	top: 164px;
	overflow: visible;
}
#icons8_mail_32_iv {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1326px;
	top: 164px;
	overflow: visible;
}
#logo_ti_gin_iw {
	position: absolute;
	width: 291px;
	height: 291px;
	left: 123px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#CHIA_S_CNG_CU_ix {
	left: 872px;
	top: 330px;
	position: absolute;
	overflow: visible;
	width: 459px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(124,83,218,1);
}
#n__t__thm_nt__v_cho_nhng_kin_t {
	left: 872px;
	top: 466px;
	position: absolute;
	overflow: visible;
	width: 881px;
	height: 454px;
	line-height: 36px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(147,112,228,1);
}
#Group_20_iz {
	position: absolute;
	width: 1128px;
	height: 32px;
	left: 639px;
	top: 33px;
	overflow: visible;
}
#CHUYN_MC_i {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: chuyenmuc.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#THUT_NG_i {
	left: 250px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: thuatngu.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CHIA_S_CNG_CU_i {
	left: 722px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#PODCAST_i {
	left: 491px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: podcast.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#NG_H_i {
	left: 1040px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: donate.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Search_Bar_i {
	opacity: 0.69;
	position: absolute;
	width: 740px;
	height: 48px;
	left: 644px;
	top: 98px;
	overflow: visible;
}
#Rectangle_1515_i {
	fill: rgba(255,255,255,1);
}
.Rectangle_1515_i {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 758px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Search_i {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 18px;
	top: 16px;
	overflow: visible;
}
#Rectangle_176_i {
	fill: transparent;
}
.Rectangle_176_i {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_99_i {
	fill: rgba(34,34,34,1);
}
.Path_99_i {
	overflow: visible;
	position: absolute;
	width: 15.9px;
	height: 15.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bn_ang_C_Thc_Mc_G__ja {
	left: 273px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,103,224,1);
}
#Microphone_jb {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 708px;
	top: 16px;
	overflow: visible;
}
#Rectangle_313_jc {
	fill: transparent;
}
.Rectangle_313_jc {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_124_jd {
	fill: rgba(34,34,34,1);
}
.Path_124_jd {
	overflow: visible;
	position: absolute;
	width: 12.562px;
	height: 16px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11_je {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11_je {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 25.316px;
	left: 43.5px;
	top: 11.5px;
	transform: matrix(1,0,0,1,0,0);
}