.mediaViewInfo {
	--web-view-name: Chuyên mục;
	--web-view-id: Chuyn_mc;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Chuyn_mc;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Chuyn_mc {
	position: absolute;
	width: 1920px;
	height: 1424px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Chuyên mục;
	--web-view-id: Chuyn_mc;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Header {
	position: absolute;
	width: 1920px;
	height: 282px;
	left: 0px;
	top: -1px;
	overflow: visible;
}
#Path_8187_ec {
	opacity: 0.74;
	fill: transparent;
	stroke: rgba(124,83,218,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_8187_ec {
	overflow: visible;
	position: absolute;
	width: 697.002px;
	height: 580.936px;
	transform: matrix(1,0,0,1,134.7265,421.532) rotate(-6deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_8188_ed {
	opacity: 0.07;
	fill: rgba(178,0,255,1);
}
.Path_8188_ed {
	overflow: visible;
	position: absolute;
	width: 726.022px;
	height: 677.469px;
	transform: matrix(1,0,0,1,82.1872,373.2651) rotate(49deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Saly-8 {
	position: absolute;
	width: 842px;
	height: 842px;
	left: 50.27px;
	top: 279.718px;
	overflow: visible;
}
#CHUYN_MC_ef {
	left: 1190px;
	top: 318px;
	position: absolute;
	overflow: visible;
	width: 325px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(124,83,218,1);
}
#Search_Bar_eg {
	opacity: 0.69;
	position: absolute;
	width: 740px;
	height: 48px;
	left: 644px;
	top: 98px;
	overflow: visible;
}
#Rectangle_1515_eh {
	fill: rgba(255,255,255,1);
}
.Rectangle_1515_eh {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 758px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Search_ei {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 18px;
	top: 16px;
	overflow: visible;
}
#Rectangle_176_ej {
	fill: transparent;
}
.Rectangle_176_ej {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_99_ek {
	fill: rgba(34,34,34,1);
}
.Path_99_ek {
	overflow: visible;
	position: absolute;
	width: 15.9px;
	height: 15.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bn_ang_C_Thc_Mc_G__el {
	left: 273px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,103,224,1);
}
#Microphone_em {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 708px;
	top: 16px;
	overflow: visible;
}
#Rectangle_313_en {
	fill: transparent;
}
.Rectangle_313_en {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_124_eo {
	fill: rgba(34,34,34,1);
}
.Path_124_eo {
	overflow: visible;
	position: absolute;
	width: 12.563px;
	height: 16px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11_ep {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11_ep {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 25.316px;
	left: 43.5px;
	top: 11.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15536 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 580px;
	overflow: visible;
}
#Web_1920__1_er {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15535_es {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 169px;
	top: 576px;
	overflow: visible;
}
#MEE_I_A_et {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_eu {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 678px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_httpswwwfacebookcomxu_ev {
	left: 1050px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 534px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#icons8_facebook_circled_32_ew {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1050px;
	top: 183px;
	overflow: visible;
}
#icons8_instagram_logo_32_ex {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1142px;
	top: 183px;
	overflow: visible;
}
#icons8_tiktok_32_ey {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1234px;
	top: 183px;
	overflow: visible;
}
#icons8_mail_32_ez {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1326px;
	top: 183px;
	overflow: visible;
}
#logo_ti_gin_e {
	position: absolute;
	width: 291px;
	height: 291px;
	left: 123px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Group_20_e {
	position: absolute;
	width: 1128px;
	height: 32px;
	left: 639px;
	top: 33px;
	overflow: visible;
}
#CHUYN_MC_e {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#THUT_NG_e {
	left: 250px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: thuatngu.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CHIA_S_CNG_CU_e {
	left: 722px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: share.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#PODCAST_e {
	left: 491px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: podcast.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#NG_H_e {
	left: 1040px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: donate.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#button_02 {
	position: absolute;
	width: 258px;
	height: 252px;
	left: 1218px;
	top: 449px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: gioi.html;
	cursor: pointer;
}
#button_03 {
	position: absolute;
	width: 258px;
	height: 252px;
	left: 1470px;
	top: 456px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: lgbt.html;
	cursor: pointer;
}
#button_04 {
	position: absolute;
	width: 258px;
	height: 252px;
	left: 960px;
	top: 701px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: muoisaucong.html;
	cursor: pointer;
}
#button_05 {
	position: absolute;
	width: 258px;
	height: 252px;
	left: 1218px;
	top: 701px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baovebanthan.html;
	cursor: pointer;
}
#button_01 {
	position: absolute;
	width: 258px;
	height: 252px;
	left: 960px;
	top: 449px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: dacdiemsinhhoc.html;
	cursor: pointer;
}
#button_06 {
	position: absolute;
	width: 258px;
	height: 252px;
	left: 1476px;
	top: 708px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: tamly.html;
	cursor: pointer;
}