.mediaViewInfo {
	--web-view-name: ChuyenMuc;
	--web-view-id: ChuyenMuc;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: arial;
}
:root {
	--web-view-ids: ChuyenMuc;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#ChuyenMuc {
	position: absolute;
	width: 1920px;
	height: 1424px;
	font-family: arial;
	background-color: rgba(255,176,192,1);
	overflow: hidden;
	--web-view-name: ChuyenMuc;
	--web-view-id: ChuyenMuc;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: arial;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Background_trn_cd {
	position: absolute;
	width: 2116px;
	height: 1190px;
	left: -98px;
	top: 0px;
	overflow: visible;
}
#Ko_ce {
	mix-blend-mode: lighten;
	position: absolute;
	width: 1076.468px;
	height: 1076.468px;
	left: -299.468px;
	top: 134.593px;
	overflow: visible;
}
#Cy2 {
	opacity: 0.79;
	position: absolute;
	width: 331px;
	height: 662px;
	left: 1520px;
	top: 450px;
	overflow: visible;
}
#n_ {
	position: absolute;
	width: 273px;
	height: 273px;
	left: 804px;
	top: 726px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ChuyenMuc_BVBT.html;
	cursor: pointer;
}
#n__ch {
	position: absolute;
	width: 272px;
	height: 272px;
	left: 804px;
	top: 361px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ChuyenMuc_G.html;
	cursor: pointer;
}
#CHUYN_MC_ci {
	left: 777px;
	top: 211px;
	position: absolute;
	overflow: visible;
	width: 367px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(255,255,255,1);
}
#n__cj {
	position: absolute;
	width: 272px;
	height: 272px;
	left: 347px;
	top: 361px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ChuyenMuc_DDSH.html;
	cursor: pointer;
}
#n__ck {
	position: absolute;
	width: 272px;
	height: 272px;
	left: 1261px;
	top: 726px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ChuyenMuc_TL.html;
	cursor: pointer;
}
#n__cl {
	position: absolute;
	width: 272px;
	height: 272px;
	left: 1261px;
	top: 361px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ChuyenMuc_LGBT.html;
	cursor: pointer;
}
#n__cm {
	position: absolute;
	width: 272px;
	height: 272px;
	left: 347px;
	top: 727px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ChuyenMuc_16_.html;
	cursor: pointer;
}
#Rectangle_1522_cn {
	fill: rgba(94,56,178,1);
}
.Rectangle_1522_cn {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 349px;
	left: 0px;
	top: 1086px;
}
#Group_9 {
	position: absolute;
	width: 1567px;
	height: 238px;
	left: 177px;
	top: 1148px;
	overflow: visible;
}
#MEE_I_A_cp {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,176,192,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_cq {
	left: 0px;
	top: 85px;
	position: absolute;
	overflow: visible;
	width: 863px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,176,192,1);
}
#Facebook_Instagram_TikTok_Mail_cr {
	left: 1190px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 378px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,176,192,1);
}
#icons8_facebook_circled_32_cs {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1190px;
	top: 166px;
	overflow: visible;
}
#icons8_instagram_logo_32_ct {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1282px;
	top: 166px;
	overflow: visible;
}
#icons8_tiktok_32_cu {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1374px;
	top: 166px;
	overflow: visible;
}
#icons8_mail_32_cv {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1466px;
	top: 166px;
	overflow: visible;
}
#CHUYN_MC_cw {
	left: 619px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 168px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#THUT_NG_cx {
	left: 883px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ThuatNgu.html;
	cursor: pointer;
	text-align: right;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CHIA_S_CNG_CU_cy {
	left: 1330px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 240px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ChiaSeCungCuu.html;
	cursor: pointer;
	text-align: right;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#logo_ti_gin_cz {
	position: absolute;
	width: 291px;
	height: 291px;
	left: 123px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Main.html;
	cursor: pointer;
}
#PODCAST_c {
	left: 1119px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	--web-animation: fadein 1s wind-up;
	--web-action-type: page;
	--web-action-target: Podcast.html;
	cursor: pointer;
	text-align: right;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Search_Bar_c {
	opacity: 0.69;
	position: absolute;
	width: 740px;
	height: 48px;
	left: 644px;
	top: 98px;
	overflow: visible;
}
#Rectangle_1515_c {
	fill: rgba(255,255,255,1);
}
.Rectangle_1515_c {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 758px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Search_c {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 18px;
	top: 16px;
	overflow: visible;
}
#Rectangle_176_c {
	fill: transparent;
}
.Rectangle_176_c {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_99_c {
	fill: rgba(34,34,34,1);
}
.Path_99_c {
	overflow: visible;
	position: absolute;
	width: 15.9px;
	height: 15.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bn_ang_C_Thc_Mc_G__c {
	left: 273px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 196px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Runda, arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(34,34,34,1);
}
#Microphone_c {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 708px;
	top: 16px;
	overflow: visible;
}
#Rectangle_313_c {
	fill: transparent;
}
.Rectangle_313_c {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_124_c {
	fill: rgba(34,34,34,1);
}
.Path_124_c {
	overflow: visible;
	position: absolute;
	width: 12.562px;
	height: 16px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11_da {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11_da {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 25.316px;
	left: 43.5px;
	top: 11.5px;
	transform: matrix(1,0,0,1,0,0);
}
#NG_H_db {
	left: 1666px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	--web-animation: fadein 1s wind-up;
	--web-action-type: page;
	--web-action-target: Donate.html;
	cursor: pointer;
	text-align: right;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Bng2_dc {
	mix-blend-mode: lighten;
	position: absolute;
	width: 518px;
	height: 518px;
	left: -98px;
	top: 604px;
	overflow: visible;
}
#Line_13 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_13 {
	overflow: visible;
	position: absolute;
	width: 170px;
	height: 3px;
	left: 619px;
	top: 66.5px;
	transform: matrix(1,0,0,1,0,0);
}