.mediaViewInfo {
	--web-view-name: Chuyên mục;
	--web-view-id: Chuyn_mc;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Chuyn_mc;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Chuyn_mc {
	position: absolute;
	width: 1920px;
	height: 1424px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Chuyên mục;
	--web-view-id: Chuyn_mc;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Path_8187_gl {
	opacity: 0.74;
	fill: transparent;
	stroke: rgba(124,83,218,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_8187_gl {
	overflow: visible;
	position: absolute;
	width: 697.002px;
	height: 580.936px;
	transform: matrix(1,0,0,1,134.7265,421.532) rotate(-6deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Saly-8 {
	position: absolute;
	width: 842px;
	height: 842px;
	left: 50.27px;
	top: 279.718px;
	overflow: visible;
}
#Group_15519 {
	position: absolute;
	width: 3518.466px;
	height: 827.758px;
	left: -509.156px;
	top: -511.453px;
	overflow: visible;
}
#Customer_Quote_go {
	opacity: 0.5;
	transform: translate(89.156px, 643.453px) matrix(1,0,0,1,-80.3961,-501.9264) rotate(-2deg);
	transform-origin: center;
	position: absolute;
	width: 3134.023px;
	height: 556.728px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Subtraction_13_gp {
	fill: rgba(176,97,255,1);
}
.Subtraction_13_gp {
	overflow: visible;
	position: absolute;
	width: 3151.543px;
	height: 665.765px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Customer_Quote_gq {
	opacity: 0.72;
	transform: translate(89.156px, 643.453px) matrix(1,0,0,1,-6.5328,-427.4049) rotate(-10deg);
	transform-origin: center;
	position: absolute;
	width: 1993.065px;
	height: 409.585px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Subtraction_13_gr {
	fill: rgba(130,87,230,1);
}
.Subtraction_13_gr {
	overflow: visible;
	position: absolute;
	width: 2033.91px;
	height: 749.455px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Customer_Quote_gs {
	opacity: 0.5;
	transform: translate(89.156px, 643.453px) matrix(1,0,0,1,276.9889,-507.9379) rotate(5deg);
	transform-origin: center;
	position: absolute;
	width: 3134.023px;
	height: 556.728px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Subtraction_13_gt {
	fill: rgba(150,97,255,1);
}
.Subtraction_13_gt {
	overflow: visible;
	position: absolute;
	width: 3170.618px;
	height: 827.758px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15536 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 546px;
	overflow: visible;
}
#Web_1920__1_gv {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15535_gw {
	position: absolute;
	width: 1583px;
	height: 215px;
	left: 169px;
	top: 576px;
	overflow: visible;
}
#MEE_I_A_gx {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_gy {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 696px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_httpswwwfacebookcomxu_gz {
	left: 1050px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 534px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#icons8_facebook_circled_32_g {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1050px;
	top: 183px;
	overflow: visible;
}
#icons8_instagram_logo_32_g {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1142px;
	top: 183px;
	overflow: visible;
}
#icons8_tiktok_32_g {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1234px;
	top: 183px;
	overflow: visible;
}
#icons8_mail_32_g {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1326px;
	top: 183px;
	overflow: visible;
}
#logo_ti_gin_g {
	position: absolute;
	width: 291px;
	height: 291px;
	left: 123px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#CHUYN_MC_g {
	left: 1190px;
	top: 318px;
	position: absolute;
	overflow: visible;
	width: 325px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(124,83,218,1);
}
#Group_20_g {
	position: absolute;
	width: 1128px;
	height: 32px;
	left: 639px;
	top: 33px;
	overflow: visible;
}
#CHUYN_MC_ha {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#THUT_NG_g {
	left: 250px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: thuatngu.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CHIA_S_CNG_CU_g {
	left: 722px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: chiase.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#PODCAST_ha {
	left: 491px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Podcast.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#NG_H_hb {
	left: 1040px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: donate.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Search_Bar_hc {
	opacity: 0.69;
	position: absolute;
	width: 740px;
	height: 48px;
	left: 644px;
	top: 98px;
	overflow: visible;
}
#Rectangle_1515_hd {
	fill: rgba(255,255,255,1);
}
.Rectangle_1515_hd {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 758px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Search_he {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 18px;
	top: 16px;
	overflow: visible;
}
#Rectangle_176_hf {
	fill: transparent;
}
.Rectangle_176_hf {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_99_hg {
	fill: rgba(34,34,34,1);
}
.Path_99_hg {
	overflow: visible;
	position: absolute;
	width: 15.9px;
	height: 15.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bn_ang_C_Thc_Mc_G__hh {
	left: 273px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,103,224,1);
}
#Microphone_hi {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 708px;
	top: 16px;
	overflow: visible;
}
#Rectangle_313_hj {
	fill: transparent;
}
.Rectangle_313_hj {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_124_hk {
	fill: rgba(34,34,34,1);
}
.Path_124_hk {
	overflow: visible;
	position: absolute;
	width: 12.563px;
	height: 16px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11_hl {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11_hl {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 25.316px;
	left: 43.5px;
	top: 11.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15503 {
	position: absolute;
	width: 175px;
	height: 172px;
	left: 1014px;
	top: 467px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: dacdiemsinhhoc.html;
	cursor: pointer;
}
#Group_15538 {
	position: absolute;
	width: 175px;
	height: 172px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_8192_hp {
	fill: url(#Path_8192_hp);
}
.Path_8192_hp {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.42));
	overflow: visible;
	position: absolute;
	width: 220px;
	height: 217px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#c_im_sinh_hc_hq {
	left: 20px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: center;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Group_15504 {
	position: absolute;
	width: 175px;
	height: 172px;
	left: 1264px;
	top: 467px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: gender.html;
	cursor: pointer;
}
#Group_15537 {
	position: absolute;
	width: 175px;
	height: 172px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_8198_hu {
	fill: url(#Path_8198_hu);
}
.Path_8198_hu {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.42));
	overflow: visible;
	position: absolute;
	width: 220px;
	height: 217px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Gii_hv {
	left: 58px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: center;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Group_15505 {
	position: absolute;
	width: 175px;
	height: 172px;
	left: 1514px;
	top: 460px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: lgbt.html;
	cursor: pointer;
}
#Group_15539 {
	position: absolute;
	width: 175px;
	height: 172px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_8199_hz {
	fill: url(#Path_8199_hz);
}
.Path_8199_hz {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.42));
	overflow: visible;
	position: absolute;
	width: 220px;
	height: 217px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#LGBT_h {
	left: 50px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: center;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Group_15508 {
	position: absolute;
	width: 175px;
	height: 172px;
	left: 1014px;
	top: 758px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: muoisaucong.html;
	cursor: pointer;
}
#Group_15542 {
	position: absolute;
	width: 175px;
	height: 172px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_8202_h {
	fill: url(#Path_8202_h);
}
.Path_8202_h {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.42));
	overflow: visible;
	position: absolute;
	width: 220px;
	height: 217px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Mi_su_cng_h {
	left: 22px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Group_15507 {
	position: absolute;
	width: 175px;
	height: 172px;
	left: 1264px;
	top: 758px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baovebanthan.html;
	cursor: pointer;
}
#Group_15541 {
	position: absolute;
	width: 175px;
	height: 172px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_8201_h {
	fill: url(#Path_8201_h);
}
.Path_8201_h {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.42));
	overflow: visible;
	position: absolute;
	width: 220px;
	height: 217px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bo_v_bn_thn_ia {
	left: 22px;
	top: 44px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: center;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Group_15506 {
	position: absolute;
	width: 175px;
	height: 172px;
	left: 1514px;
	top: 751px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: tamly.html;
	cursor: pointer;
}
#Group_15540 {
	position: absolute;
	width: 175px;
	height: 172px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_8200_ie {
	fill: url(#Path_8200_ie);
}
.Path_8200_ie {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.42));
	overflow: visible;
	position: absolute;
	width: 220px;
	height: 217px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Tm_l_if {
	left: 39px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: center;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Path_8188_ig {
	opacity: 0.07;
	fill: rgba(178,0,255,1);
}
.Path_8188_ig {
	overflow: visible;
	position: absolute;
	width: 726.022px;
	height: 677.469px;
	transform: matrix(1,0,0,1,82.1872,373.2651) rotate(49deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}