.mediaViewInfo {
	--web-view-name: ChuyenMuc_BVBT;
	--web-view-id: ChuyenMuc_BVBT;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: arial;
}
:root {
	--web-view-ids: ChuyenMuc_BVBT;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#ChuyenMuc_BVBT {
	position: absolute;
	width: 1920px;
	height: 1426px;
	font-family: arial;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: ChuyenMuc_BVBT;
	--web-view-id: ChuyenMuc_BVBT;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: arial;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Background_trn_nc {
	position: absolute;
	width: 4906px;
	height: 2760px;
	left: -420px;
	top: 0px;
	overflow: visible;
}
#BO_V_BN_THN {
	left: 718px;
	top: 208px;
	position: absolute;
	overflow: visible;
	width: 485px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(255,255,255,1);
}
#CHUYN_MC_ne {
	left: 619px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 168px;
	white-space: nowrap;
	--web-animation: fadein 1s wind-up;
	--web-action-type: page;
	--web-action-target: ChuyenMuc.html;
	cursor: pointer;
	text-align: right;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#THUT_NG_nf {
	left: 883px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	--web-animation: fadein 1s wind-up;
	--web-action-type: page;
	--web-action-target: ThuatNgu.html;
	cursor: pointer;
	text-align: right;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CHIA_S_CNG_CU_ng {
	left: 1330px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 240px;
	white-space: nowrap;
	--web-animation: fadein 1s wind-up;
	--web-action-type: page;
	--web-action-target: ChiaSeCungCuu.html;
	cursor: pointer;
	text-align: right;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#logo_ti_gin_nh {
	position: absolute;
	width: 291px;
	height: 291px;
	left: 123px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 1s wind-up;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#PODCAST_ni {
	left: 1119px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	--web-animation: fadein 1s wind-up;
	--web-action-type: page;
	--web-action-target: Podcast.html;
	cursor: pointer;
	text-align: right;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Search_Bar_nj {
	opacity: 0.69;
	position: absolute;
	width: 740px;
	height: 48px;
	left: 644px;
	top: 98px;
	overflow: visible;
}
#Rectangle_1515_nk {
	fill: rgba(255,255,255,1);
}
.Rectangle_1515_nk {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 758px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Search_nl {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 18px;
	top: 16px;
	overflow: visible;
}
#Rectangle_176_nm {
	fill: transparent;
}
.Rectangle_176_nm {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_99_nn {
	fill: rgba(34,34,34,1);
}
.Path_99_nn {
	overflow: visible;
	position: absolute;
	width: 15.9px;
	height: 15.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bn_ang_C_Thc_Mc_G__no {
	left: 273px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 196px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Runda, arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(34,34,34,1);
}
#Microphone_np {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 708px;
	top: 16px;
	overflow: visible;
}
#Rectangle_313_nq {
	fill: transparent;
}
.Rectangle_313_nq {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_124_nr {
	fill: rgba(34,34,34,1);
}
.Path_124_nr {
	overflow: visible;
	position: absolute;
	width: 12.562px;
	height: 16px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11_ns {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11_ns {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 25.316px;
	left: 43.5px;
	top: 11.5px;
	transform: matrix(1,0,0,1,0,0);
}
#NG_H_nt {
	left: 1666px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	--web-animation: fadein 1s wind-up;
	--web-action-type: page;
	--web-action-target: Donate.html;
	cursor: pointer;
	text-align: right;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_37 {
	position: absolute;
	width: 1920px;
	height: 349px;
	left: 0px;
	top: 1077px;
	overflow: visible;
}
#Rectangle_1522_nv {
	fill: rgba(94,56,178,1);
}
.Rectangle_1522_nv {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 349px;
	left: 0px;
	top: 0px;
}
#Group_9_nw {
	position: absolute;
	width: 1567px;
	height: 238px;
	left: 177px;
	top: 62px;
	overflow: visible;
}
#Group_38 {
	position: absolute;
	width: 1567px;
	height: 238px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#MEE_I_A_ny {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,176,192,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_nz {
	left: 0px;
	top: 85px;
	position: absolute;
	overflow: visible;
	width: 863px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,176,192,1);
}
#Facebook_Instagram_TikTok_Mail_n {
	left: 1190px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 378px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,176,192,1);
}
#icons8_facebook_circled_32_n {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1190px;
	top: 166px;
	overflow: visible;
}
#icons8_instagram_logo_32_n {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1282px;
	top: 166px;
	overflow: visible;
}
#icons8_tiktok_32_n {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1374px;
	top: 166px;
	overflow: visible;
}
#icons8_mail_32_n {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1466px;
	top: 166px;
	overflow: visible;
}
#Rectangle_1523_n {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1523_n {
	position: absolute;
	overflow: visible;
	width: 454px;
	height: 284px;
	left: 177px;
	top: 423px;
}
#Group_18 {
	position: absolute;
	width: 451px;
	height: 483px;
	left: 177px;
	top: 426px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: BVBN_1.html;
	cursor: pointer;
}
#Xm_hi_tnh_dc_bng_li_ni_Nhan_nh {
	left: 0px;
	top: 318px;
	position: absolute;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(255,255,255,1);
}
#Line_12_n {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_n {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 1.5px;
	top: 428.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_n {
	left: 0px;
	top: 456px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Image_2 {
	position: absolute;
	width: 448px;
	height: 279px;
	left: 3px;
	top: 0px;
	overflow: visible;
}
#Line_13_ob {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_13_ob {
	overflow: visible;
	position: absolute;
	width: 170px;
	height: 3px;
	left: 619px;
	top: 66.5px;
	transform: matrix(1,0,0,1,0,0);
}