.mediaViewInfo {
	--web-view-name: Đặc điểm sinh học;
	--web-view-id: c_im_sinh_hc;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: c_im_sinh_hc;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#c_im_sinh_hc {
	position: absolute;
	width: 1920px;
	height: 1424px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Đặc điểm sinh học;
	--web-view-id: c_im_sinh_hc;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Header_hb {
	position: absolute;
	width: 1920px;
	height: 282px;
	left: 0px;
	top: -1px;
	overflow: visible;
}
#Scroll_Group_1_hc {
	mix-blend-mode: normal;
	transform: matrix(1,0,0,1,-358.1995,387.2724) rotate(200deg);
	transform-origin: center;
	position: absolute;
	width: 716.4px;
	height: 1085.751px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#Web_1920__2_hd {
	position: absolute;
	width: 2516.531px;
	height: 2168.487px;
	left: -698.234px;
	top: -532.486px;
	overflow: visible;
}
#Path_8188_he {
	opacity: 0.07;
	fill: rgba(178,0,255,1);
}
.Path_8188_he {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 608.281px;
	transform: matrix(1,0,0,1,-131.9854,753.6113) rotate(40deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Web_1920__1_hf {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 581px;
	overflow: visible;
}
#Group_15509 {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 735px;
	top: 425px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet2.html;
	cursor: pointer;
}
#Rectangle_1526_hh {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_hh {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Khi_ngy_du_chng_cn_l_chuyn_phi {
	left: 20px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 280px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12 {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12 {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#KHI_NGY_DU_CHNG_CN_L_CHUYN_PHI {
	position: absolute;
	width: 450px;
	height: 287px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_8203 {
	opacity: 0.26;
	fill: rgba(255,205,249,1);
}
.Path_8203 {
	overflow: visible;
	position: absolute;
	width: 490.318px;
	height: 501.965px;
	transform: matrix(1,0,0,1,1755.1578,90.328) rotate(-37deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#logo_ti_gin_hm {
	position: absolute;
	width: 291px;
	height: 291px;
	left: 123px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#C_IM_SINH_HC_hn {
	left: 718px;
	top: 264px;
	position: absolute;
	overflow: visible;
	width: 486px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(124,83,218,1);
}
#Vit_bnh_lun {
	left: 755px;
	top: 885px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#Group_15510 {
	position: absolute;
	width: 450px;
	height: 546px;
	left: 1291px;
	top: 424px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet3.html;
	cursor: pointer;
}
#Group_15496 {
	position: absolute;
	width: 450px;
	height: 546px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1526_hr {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_hr {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 1px;
}
#Xut_tinh_nhiu_c_gy_nguy_him {
	left: 20px;
	top: 317px;
	position: absolute;
	overflow: visible;
	width: 198px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_ht {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_ht {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 430.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_hu {
	left: 20px;
	top: 461px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#n_XUT_TINH_NHIU {
	position: absolute;
	width: 450px;
	height: 288px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15497 {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 179px;
	top: 425px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet1.html;
	cursor: pointer;
}
#Group_15494 {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1526_hy {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_hy {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Thumbnail {
	position: absolute;
	width: 450px;
	height: 280px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Vo_tui_mi_ln_c_th_bn_gi_s_c_nh {
	left: 20px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 365px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_h {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_h {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_h {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#Copy {
	opacity: 0.82;
	position: absolute;
	width: 182.629px;
	height: 75.103px;
	left: 133.686px;
	top: 105.949px;
	overflow: visible;
}
#Group_8_h {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 169px;
	top: 1153px;
	overflow: visible;
}
#MEE_I_A_h {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_h {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 678px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_httpswwwfacebookcomxu_h {
	left: 1050px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 534px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#icons8_facebook_circled_32_h {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1050px;
	top: 164px;
	overflow: visible;
}
#icons8_instagram_logo_32_h {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1142px;
	top: 164px;
	overflow: visible;
}
#icons8_tiktok_32_ia {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1234px;
	top: 164px;
	overflow: visible;
}
#icons8_mail_32_ib {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1326px;
	top: 164px;
	overflow: visible;
}
#Group_20_ic {
	position: absolute;
	width: 1128px;
	height: 32px;
	left: 639px;
	top: 33px;
	overflow: visible;
}
#CHUYN_MC_id {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: chuyenmuc.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#THUT_NG_ie {
	left: 250px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: thuatngu.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CHIA_S_CNG_CU_if {
	left: 722px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: share.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#PODCAST_ig {
	left: 491px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: podcast.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#NG_H_ih {
	left: 1040px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: donate.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Search_Bar_ii {
	opacity: 0.69;
	position: absolute;
	width: 740px;
	height: 48px;
	left: 644px;
	top: 98px;
	overflow: visible;
}
#Rectangle_1515_ij {
	fill: rgba(255,255,255,1);
}
.Rectangle_1515_ij {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 758px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Search_ik {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 18px;
	top: 16px;
	overflow: visible;
}
#Rectangle_176_il {
	fill: transparent;
}
.Rectangle_176_il {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_99_im {
	fill: rgba(34,34,34,1);
}
.Path_99_im {
	overflow: visible;
	position: absolute;
	width: 15.9px;
	height: 15.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bn_ang_C_Thc_Mc_G__in {
	left: 273px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,103,224,1);
}
#Microphone_io {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 708px;
	top: 16px;
	overflow: visible;
}
#Rectangle_313_ip {
	fill: transparent;
}
.Rectangle_313_ip {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_124_iq {
	fill: rgba(34,34,34,1);
}
.Path_124_iq {
	overflow: visible;
	position: absolute;
	width: 12.563px;
	height: 16px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11_ir {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11_ir {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 25.316px;
	left: 43.5px;
	top: 11.5px;
	transform: matrix(1,0,0,1,0,0);
}