.mediaViewInfo {
	--web-view-name: Giới;
	--web-view-id: Gii;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Gii;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Gii {
	position: absolute;
	width: 1920px;
	height: 2276px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Giới;
	--web-view-id: Gii;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Header_jn {
	position: absolute;
	width: 1920px;
	height: 282px;
	left: 0px;
	top: -1px;
	overflow: visible;
}
#Path_8188_jo {
	opacity: 0.07;
	fill: rgba(178,0,255,1);
}
.Path_8188_jo {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 608.281px;
	transform: matrix(1,0,0,1,1510.7754,698.0617) rotate(40deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_8187_jp {
	opacity: 0.2;
	fill: transparent;
	stroke: rgba(124,83,218,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_8187_jp {
	overflow: visible;
	position: absolute;
	width: 684.127px;
	height: 580.933px;
	transform: matrix(1,0,0,1,913.9008,323.1641) rotate(-6deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_8203_jq {
	opacity: 0.26;
	fill: rgba(255,205,249,1);
}
.Path_8203_jq {
	overflow: visible;
	position: absolute;
	width: 490.318px;
	height: 501.965px;
	transform: matrix(1,0,0,1,-201.8953,174.3394) rotate(203deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#GII {
	left: 907px;
	top: 264px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(124,83,218,1);
}
#Group_15512 {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 735px;
	top: 425px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet8.html;
	cursor: pointer;
}
#Group_15495 {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1526_ju {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_ju {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Nhng_hiu_lm_thng_gp_v_ngi_chuy {
	left: 20px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 292px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_jw {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_jw {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_jx {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#n_NHNG_HIU_LM_THNG_GP {
	position: absolute;
	width: 450px;
	height: 281px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15513 {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 1291px;
	top: 425px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet7.html;
	cursor: pointer;
}
#Group_15496_j {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1526_j {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_j {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Gii_-_Gii_tnh_-_Bn_dng_Gii_-_X {
	left: 20px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 327px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_j {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_j {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_j {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#n_Xanh_l_ng_k_Bin_i_Kh_hu_Mi_t {
	position: absolute;
	width: 450px;
	height: 280px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15511 {
	position: absolute;
	width: 450.5px;
	height: 545px;
	left: 178.5px;
	top: 425px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet6.html;
	cursor: pointer;
}
#Group_15494_j {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 0.5px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1526_ka {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_ka {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Hiu_v_Xu_hng_cm_xc_v_Xu_hng_tn {
	left: 20px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 278px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_ka {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_ka {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_kb {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#Nhiu_mu_sc_c_k_vin_Hnh_minh_ha {
	position: absolute;
	width: 450.5px;
	height: 279.375px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Search_Bar_kd {
	opacity: 0.69;
	position: absolute;
	width: 740px;
	height: 48px;
	left: 644px;
	top: 98px;
	overflow: visible;
}
#Rectangle_1515_ke {
	fill: rgba(255,255,255,1);
}
.Rectangle_1515_ke {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 758px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Search_kf {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 18px;
	top: 16px;
	overflow: visible;
}
#Rectangle_176_kg {
	fill: transparent;
}
.Rectangle_176_kg {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_99_kh {
	fill: rgba(34,34,34,1);
}
.Path_99_kh {
	overflow: visible;
	position: absolute;
	width: 15.9px;
	height: 15.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bn_ang_C_Thc_Mc_G__ki {
	left: 273px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,103,224,1);
}
#Microphone_kj {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 708px;
	top: 16px;
	overflow: visible;
}
#Rectangle_313_kk {
	fill: transparent;
}
.Rectangle_313_kk {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_124_kl {
	fill: rgba(34,34,34,1);
}
.Path_124_kl {
	overflow: visible;
	position: absolute;
	width: 12.562px;
	height: 16px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11_km {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11_km {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 25.316px;
	left: 43.5px;
	top: 11.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15537 {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 179px;
	top: 1062px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet17.html;
	cursor: pointer;
}
#Group_15494_ko {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1526_kp {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_kp {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#n_0_nh_ngha_thng_gp_nht_v_Gii_ {
	left: 20px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 351px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_kr {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_kr {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_ks {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#Scroll_Group_3 {
	mix-blend-mode: normal;
	position: absolute;
	width: 450px;
	height: 281px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#n_Pink_Gradient_Modern_Fashion_ku {
	position: absolute;
	width: 450px;
	height: 323px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15538 {
	position: absolute;
	width: 450.25px;
	height: 545px;
	left: 735px;
	top: 1062px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet9.html;
	cursor: pointer;
}
#Group_15494_kw {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 0.25px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1526_kx {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_kx {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#n__Khi_nim_c_bn_v__Gii_tnh_cn_ {
	left: 20px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 251px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_kz {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_kz {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_k {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#n_5 {
	position: absolute;
	width: 450px;
	height: 281px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#logo_ti_gin_k {
	position: absolute;
	width: 291px;
	height: 291px;
	left: 123px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Group_20_k {
	position: absolute;
	width: 1128px;
	height: 32px;
	left: 639px;
	top: 33px;
	overflow: visible;
}
#CHUYN_MC_k {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: chuyenmuc.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#THUT_NG_k {
	left: 250px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: thuatngu.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CHIA_S_CNG_CU_k {
	left: 722px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: chiase.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#PODCAST_k {
	left: 491px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: podcast.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#NG_H_k {
	left: 1040px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ungho.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_15553_k {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 1424px;
	overflow: visible;
}
#Group_15552_la {
	mix-blend-mode: normal;
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Web_1920__1_lb {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15551_lc {
	position: absolute;
	width: 1476px;
	height: 245px;
	left: 169px;
	top: 576px;
	overflow: visible;
}
#MEE_I_A_ld {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_le {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 651px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_wwwfacebookcomxusotha_lf {
	left: 1050px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 427px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Group_15550_lg {
	position: absolute;
	width: 194px;
	height: 36px;
	left: 1051px;
	top: 187px;
	overflow: visible;
}
#Rectangle_1528_lh {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1529_li {
	position: absolute;
	width: 35px;
	height: 36px;
	left: 53px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1530_lj {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 107px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1531_lk {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 160px;
	top: 0px;
	overflow: visible;
}