.mediaViewInfo {
	--web-view-name: Xứ Sở Thần Teen;
	--web-view-id: X_S_Thn_Teen;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: X_S_Thn_Teen;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#X_S_Thn_Teen {
	position: absolute;
	width: 1920px;
	height: 3580px;
	background: linear-gradient(148.6deg, rgba(223,176,255,1) 0%, rgba(162,125,233,1) 23.04%, rgba(101,73,211,1) 100%);
	overflow: hidden;
	--web-view-name: Xứ Sở Thần Teen;
	--web-view-id: X_S_Thn_Teen;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Customer_Quote {
	transform: matrix(1,0,0,1,-557.4655,937) rotate(0deg);
	transform-origin: center;
	position: absolute;
	width: 3164.85px;
	height: 653.689px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Subtraction_13 {
	fill: rgba(255,255,255,1);
}
.Subtraction_13 {
	overflow: visible;
	position: absolute;
	width: 3164.85px;
	height: 653.689px;
	left: 0.002px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_1524 {
	fill: rgba(255,255,255,1);
}
.Rectangle_1524 {
	position: absolute;
	overflow: visible;
	width: 2275px;
	height: 2036px;
	left: -99px;
	top: 1381px;
}
#Path_8190 {
	opacity: 0.31;
	fill: transparent;
	stroke: rgba(153,118,230,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_8190 {
	overflow: visible;
	position: absolute;
	width: 610.161px;
	height: 512.909px;
	transform: matrix(1,0,0,1,-210.386,1962.8413) rotate(219deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_8189 {
	opacity: 0.17;
	fill: rgba(169,59,253,1);
}
.Path_8189 {
	overflow: visible;
	position: absolute;
	width: 613.882px;
	height: 896.028px;
	transform: matrix(1,0,0,1,-260.9031,1818.8114) rotate(120deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Ellipse_14_bf {
	fill: url(#Ellipse_14_bf);
}
.Ellipse_14_bf {
	filter: drop-shadow(10px 10px 10px rgba(160, 82, 176, 0.549));
	position: absolute;
	overflow: visible;
	width: 590px;
	height: 590px;
	left: 238px;
	top: 2288px;
}
#logo_ti_gin {
	position: absolute;
	width: 291px;
	height: 291px;
	left: 123px;
	top: -47px;
	overflow: visible;
}
#LOGO_final-01 {
	position: absolute;
	width: 601px;
	height: 601px;
	left: 218px;
	top: 2268px;
	overflow: visible;
}
#CHNG_T_L_AI__ {
	left: 877px;
	top: 2165px;
	position: absolute;
	overflow: visible;
	width: 515px;
	white-space: nowrap;
	text-align: center;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 65px;
	color: rgba(173,125,248,1);
}
#Cho_cc_bn__Mee_i_A_l_mt_nhm_cc {
	left: 881px;
	top: 2326px;
	position: absolute;
	overflow: visible;
	width: 885px;
	white-space: nowrap;
	line-height: 51px;
	margin-top: -12.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(173,125,248,1);
}
#Search_Bar {
	opacity: 0.69;
	position: absolute;
	width: 740px;
	height: 48px;
	left: 644px;
	top: 98px;
	overflow: visible;
}
#Rectangle_1515 {
	fill: rgba(255,255,255,1);
}
.Rectangle_1515 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 758px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Search {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 18px;
	top: 16px;
	overflow: visible;
}
#Rectangle_176 {
	fill: transparent;
}
.Rectangle_176 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_99 {
	fill: rgba(34,34,34,1);
}
.Path_99 {
	overflow: visible;
	position: absolute;
	width: 15.9px;
	height: 15.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bn_ang_C_Thc_Mc_G_ {
	left: 273px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,103,224,1);
}
#Microphone {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 708px;
	top: 16px;
	overflow: visible;
}
#Rectangle_313 {
	fill: transparent;
}
.Rectangle_313 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_124 {
	fill: rgba(34,34,34,1);
}
.Path_124 {
	overflow: visible;
	position: absolute;
	width: 12.563px;
	height: 16px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11 {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 25.316px;
	left: 43.5px;
	top: 11.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_8186 {
	opacity: 0.74;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_8186 {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 454.713px;
	transform: matrix(1,0,0,1,-170.7399,742.018) rotate(33deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_8187 {
	opacity: 0.74;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_8187 {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 608.281px;
	transform: matrix(1,0,0,1,1645.424,-126.4866) rotate(-25deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_8188 {
	opacity: 0.07;
	fill: rgba(178,0,255,1);
}
.Path_8188 {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 608.281px;
	transform: matrix(1,0,0,1,1715.0141,-158.1407) rotate(40deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_15483 {
	position: absolute;
	width: 25.788px;
	height: 25.788px;
	left: 1803.389px;
	top: 564.545px;
	overflow: visible;
}
#Ellipse_9_bz {
	fill: url(#Ellipse_9_bz);
}
.Ellipse_9_bz {
	width: 22.421px;
	height: 22.421px;
	position: absolute;
	overflow: visible;
	transform: translate(-97.225px, -283.598px) matrix(1,0,0,1,98.9085,285.2815) rotate(-80.581deg);
	transform-origin: center;
}
#Group_11 {
	opacity: 0.27;
	mix-blend-mode: soft-light;
	position: absolute;
	width: 4.304px;
	height: 10.173px;
	left: 18.119px;
	top: 6.418px;
	overflow: visible;
}
#Rectangle_6 {
	position: absolute;
	width: 4.305px;
	height: 10.173px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7 {
	position: absolute;
	width: 4.305px;
	height: 10.173px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4_b {
	opacity: 0.5;
	fill: url(#Path_4_b);
}
.Path_4_b {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 8.918px;
	height: 9.332px;
	left: 4.473px;
	top: 3.639px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1 {
	position: absolute;
	width: 778px;
	height: 688px;
	left: 912px;
	top: 222px;
	overflow: visible;
}
#Ellipse_1_b {
	fill: url(#Ellipse_1_b);
}
.Ellipse_1_b {
	position: absolute;
	overflow: visible;
	width: 398px;
	height: 398px;
	left: 189px;
	top: 141px;
}
#Saly-1 {
	position: absolute;
	width: 778px;
	height: 688px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Cho_mng_cc_bn_n_vi {
	left: 284px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 856px;
	height: 111px;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#X_S_THN_TEEN {
	left: 284px;
	top: 415px;
	position: absolute;
	overflow: visible;
	width: 856px;
	height: 300px;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 120px;
	color: rgba(255,255,255,1);
}
#Bi_vit_mi_nht {
	left: 533px;
	top: 1166px;
	position: absolute;
	overflow: visible;
	width: 856px;
	height: 79px;
	text-align: center;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(157,121,231,1);
}
#Group_15500 {
	position: absolute;
	width: 433px;
	height: 545px;
	left: 201px;
	top: 1381px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: tuoimoilon.html;
	cursor: pointer;
}
#Rectangle_1526 {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526 {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 478px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Thumbnail {
	position: absolute;
	width: 433px;
	height: 316px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Copy {
	opacity: 0.82;
	position: absolute;
	width: 182.629px;
	height: 75.103px;
	left: 125.186px;
	top: 120.449px;
	overflow: visible;
}
#Vo_tui_mi_ln_c_th_bn_gi_s_c_nh {
	left: 63px;
	top: 350px;
	position: absolute;
	overflow: visible;
	width: 309px;
	white-space: nowrap;
	text-align: center;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(154,118,230,1);
}
#Group_15484 {
	position: absolute;
	width: 200px;
	height: 52px;
	left: 117px;
	top: 447px;
	overflow: visible;
}
#Rectangle_3 {
	fill: rgba(157,121,231,1);
}
.Rectangle_3 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 218px;
	height: 70px;
	left: 0px;
	top: 0px;
}
#c_thm {
	left: 61px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: center;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Group_15501 {
	position: absolute;
	width: 434px;
	height: 545px;
	left: 744px;
	top: 1381px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: xuhuongcamxuc.html;
	cursor: pointer;
}
#Rectangle_1525 {
	fill: rgba(255,255,255,1);
}
.Rectangle_1525 {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 478px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Nhiu_mu_sc_c_k_vin_Hnh_minh_ha {
	position: absolute;
	width: 434px;
	height: 377px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Hiu_v_Xu_hng_cm_xc_v_Xu_hng_tn {
	left: 99px;
	top: 350px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	text-align: center;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(154,118,230,1);
}
#Group_15485 {
	position: absolute;
	width: 200px;
	height: 52px;
	left: 116px;
	top: 447px;
	overflow: visible;
}
#Rectangle_3_cp {
	fill: rgba(157,121,231,1);
}
.Rectangle_3_cp {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 218px;
	height: 70px;
	left: 0px;
	top: 0px;
}
#c_thm_cq {
	left: 61px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: center;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Group_15502 {
	position: absolute;
	width: 433px;
	height: 545px;
	left: 1288px;
	top: 1381px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ditimchinhminh.html;
	cursor: pointer;
}
#Rectangle_1527 {
	fill: rgba(255,255,255,1);
}
.Rectangle_1527 {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 478px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#n_i_tm_chnh_mnh {
	position: absolute;
	width: 433px;
	height: 316px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Hnh_trnh_i_tm_chnh_mnh {
	left: 86px;
	top: 365px;
	position: absolute;
	overflow: visible;
	width: 263px;
	white-space: nowrap;
	text-align: center;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(154,118,230,1);
}
#Group_15486 {
	position: absolute;
	width: 200px;
	height: 52px;
	left: 117px;
	top: 447px;
	overflow: visible;
}
#Rectangle_3_cw {
	fill: rgba(157,121,231,1);
}
.Rectangle_3_cw {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 218px;
	height: 70px;
	left: 0px;
	top: 0px;
}
#c_thm_cx {
	left: 61px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: center;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Group_3 {
	opacity: 0.36;
	transform: matrix(1,0,0,1,1514.6142,2457.0276) rotate(167deg);
	transform-origin: center;
	position: absolute;
	width: 624.772px;
	height: 955.438px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(0,0,0,0);
	stroke: rgba(124,83,218,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 767.938px;
	height: 1060.639px;
	left: 0px;
	top: 13.635px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(0,0,0,0);
	stroke: rgba(124,83,218,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 666.4px;
	height: 800.896px;
	left: 122.619px;
	top: 88.589px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
	fill: rgba(0,0,0,0);
	stroke: rgba(124,83,218,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 287.072px;
	height: 580.819px;
	left: 428.205px;
	top: 179.252px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_2 {
	fill: rgba(0,0,0,0);
	stroke: rgba(124,83,218,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 176.838px;
	height: 123.046px;
	left: 304.082px;
	top: 658.521px;
}
#Group_15487 {
	opacity: 0.89;
	transform: matrix(1,0,0,1,1551.8821,2067.762) rotate(45deg);
	transform-origin: center;
	position: absolute;
	width: 106.236px;
	height: 106.236px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_22 {
	position: absolute;
	width: 106.236px;
	height: 106.236px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_13_c {
	fill: url(#Ellipse_13_c);
}
.Ellipse_13_c {
	width: 104.189px;
	height: 104.189px;
	position: absolute;
	overflow: visible;
	transform: translate(314.025px, -78.18px) matrix(1,0,0,1,1.0233,1.0233) rotate(-1.137deg);
	transform-origin: center;
}
#Group_21 {
	opacity: 0.27;
	mix-blend-mode: soft-light;
	position: absolute;
	width: 30.996px;
	height: 43.822px;
	left: 81.924px;
	top: 49.438px;
	overflow: visible;
}
#Rectangle_9 {
	position: absolute;
	width: 52.904px;
	height: 52.905px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_10 {
	position: absolute;
	width: 52.904px;
	height: 52.905px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_8_db {
	opacity: 0.5;
	fill: url(#Path_8_db);
}
.Path_8_db {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 59.895px;
	height: 59.893px;
	left: 31.508px;
	top: 20.534px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_23 {
	position: absolute;
	width: 102.244px;
	height: 40.568px;
	left: 23.512px;
	top: 26.291px;
	overflow: visible;
}
#Path_9_de {
	fill: url(#Path_9_de);
}
.Path_9_de {
	overflow: visible;
	position: absolute;
	width: 100.982px;
	height: 100.984px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10_dg {
	fill: url(#Path_10_dg);
}
.Path_10_dg {
	mix-blend-mode: screen;
	overflow: visible;
	position: absolute;
	width: 94.463px;
	height: 94.463px;
	left: 5.281px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11_di {
	fill: url(#Path_11_di);
}
.Path_11_di {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 98.691px;
	height: 98.693px;
	left: 0.48px;
	top: 2.291px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15490 {
	mix-blend-mode: normal;
	position: absolute;
	width: 629px;
	height: 556px;
	left: 61px;
	top: 2516px;
	overflow: visible;
}
#Saly-1_dk {
	position: absolute;
	width: 629px;
	height: 556px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Saly-15 {
	position: absolute;
	width: 231px;
	height: 410px;
	left: 169px;
	top: 2417px;
	overflow: visible;
}
#Group_15491 {
	mix-blend-mode: normal;
	position: absolute;
	width: 430px;
	height: 380px;
	left: 319px;
	top: 2703px;
	overflow: visible;
}
#Saly-1_dn {
	position: absolute;
	width: 430px;
	height: 380px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15488 {
	opacity: 0.91;
	transform: matrix(1,0,0,1,1536.1388,3056.2595) rotate(15deg);
	transform-origin: center;
	position: absolute;
	width: 55.704px;
	height: 55.704px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_22_dp {
	position: absolute;
	width: 55.704px;
	height: 55.704px;
	left: -0.002px;
	top: 0px;
	overflow: visible;
}
#Ellipse_13_dr {
	fill: url(#Ellipse_13_dr);
}
.Ellipse_13_dr {
	width: 54.631px;
	height: 54.631px;
	position: absolute;
	overflow: visible;
	transform: translate(86.226px, -46.847px) matrix(1,0,0,1,0.5366,0.5366) rotate(-1.137deg);
	transform-origin: center;
}
#Group_21_ds {
	opacity: 0.27;
	mix-blend-mode: soft-light;
	position: absolute;
	width: 16.253px;
	height: 22.978px;
	left: 38.592px;
	top: 12.542px;
	overflow: visible;
}
#Rectangle_9_dt {
	position: absolute;
	width: 21.646px;
	height: 26.401px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_10_du {
	position: absolute;
	width: 21.646px;
	height: 26.401px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_8_dw {
	opacity: 0.5;
	fill: url(#Path_8_dw);
}
.Path_8_dw {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 26.395px;
	height: 28.001px;
	left: 8.25px;
	top: 12.505px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_23_dx {
	position: absolute;
	width: 53.612px;
	height: 21.272px;
	left: 5.395px;
	top: 17.948px;
	overflow: visible;
}
#Path_9_dz {
	fill: url(#Path_9_dz);
}
.Path_9_dz {
	overflow: visible;
	position: absolute;
	width: 57.291px;
	height: 34.422px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10_ea {
	fill: url(#Path_10_ea);
}
.Path_10_ea {
	mix-blend-mode: screen;
	overflow: visible;
	position: absolute;
	width: 55.391px;
	height: 30.402px;
	left: 1.014px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11_ea {
	fill: url(#Path_11_ea);
}
.Path_11_ea {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 56.6px;
	height: 33.034px;
	left: 0.344px;
	top: 1.389px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15489 {
	transform: matrix(1,0,0,1,1827.9644,2707.659) rotate(34deg);
	transform-origin: center;
	position: absolute;
	width: 41.028px;
	height: 41.028px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_9_ea {
	fill: url(#Ellipse_9_ea);
}
.Ellipse_9_ea {
	width: 35.671px;
	height: 35.671px;
	position: absolute;
	overflow: visible;
	transform: translate(100.926px, -289.481px) matrix(1,0,0,1,99.9034,286.2763) rotate(-80.581deg);
	transform-origin: center;
}
#Group_11_d {
	opacity: 0.27;
	mix-blend-mode: soft-light;
	position: absolute;
	width: 6.847px;
	height: 16.185px;
	left: 32.08px;
	top: 24.584px;
	overflow: visible;
}
#Rectangle_6_d {
	position: absolute;
	width: 14.729px;
	height: 17.247px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7_d {
	position: absolute;
	width: 14.729px;
	height: 17.247px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4_eb {
	opacity: 0.5;
	fill: url(#Path_4_eb);
}
.Path_4_eb {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 20.064px;
	height: 20.242px;
	left: 17.303px;
	top: 8.779px;
	transform: matrix(1,0,0,1,0,0);
}
#Web_1920__1 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 2729px;
	overflow: visible;
}
#Group_15535 {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 169px;
	top: 3305px;
	overflow: visible;
}
#MEE_I_A {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 696px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_httpswwwfacebookcomxu {
	left: 1050px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 534px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#icons8_facebook_circled_32 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1050px;
	top: 183px;
	overflow: visible;
}
#icons8_instagram_logo_32 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1142px;
	top: 183px;
	overflow: visible;
}
#icons8_tiktok_32 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1234px;
	top: 183px;
	overflow: visible;
}
#icons8_mail_32 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1326px;
	top: 183px;
	overflow: visible;
}
#Group_20 {
	position: absolute;
	width: 1128px;
	height: 32px;
	left: 639px;
	top: 33px;
	overflow: visible;
}
#CHUYN_MC {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: chuyenmuc.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#THUT_NG {
	left: 250px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: thuatngu.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CHIA_S_CNG_CU {
	left: 722px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: chiase.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#PODCAST {
	left: 491px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Podcast.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#NG_H {
	left: 1040px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: donate.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_15479 {
	transform: matrix(1,0,0,1,64.0398,354.8253) rotate(45deg);
	transform-origin: center;
	position: absolute;
	width: 106.236px;
	height: 106.236px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_22_es {
	position: absolute;
	width: 106.236px;
	height: 106.236px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_13_eu {
	fill: url(#Ellipse_13_eu);
}
.Ellipse_13_eu {
	width: 104.189px;
	height: 104.189px;
	position: absolute;
	overflow: visible;
	transform: translate(314.025px, -78.18px) matrix(1,0,0,1,1.0233,1.0233) rotate(-1.137deg);
	transform-origin: center;
}
#Group_21_ev {
	opacity: 0.27;
	mix-blend-mode: soft-light;
	position: absolute;
	width: 30.996px;
	height: 43.822px;
	left: 81.924px;
	top: 49.438px;
	overflow: visible;
}
#Rectangle_9_ew {
	position: absolute;
	width: 52.904px;
	height: 52.904px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_10_ex {
	position: absolute;
	width: 52.904px;
	height: 52.904px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_8_ez {
	opacity: 0.5;
	fill: url(#Path_8_ez);
}
.Path_8_ez {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 59.895px;
	height: 59.894px;
	left: 31.508px;
	top: 20.533px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_23_e {
	position: absolute;
	width: 102.244px;
	height: 40.568px;
	left: 23.512px;
	top: 26.291px;
	overflow: visible;
}
#Path_9_fa {
	fill: url(#Path_9_fa);
}
.Path_9_fa {
	overflow: visible;
	position: absolute;
	width: 100.982px;
	height: 100.983px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10_fa {
	fill: url(#Path_10_fa);
}
.Path_10_fa {
	mix-blend-mode: screen;
	overflow: visible;
	position: absolute;
	width: 94.463px;
	height: 94.463px;
	left: 5.281px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11_fa {
	fill: url(#Path_11_fa);
}
.Path_11_fa {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 98.691px;
	height: 98.693px;
	left: 0.48px;
	top: 2.291px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15480 {
	transform: matrix(1,0,0,1,164.4256,813.2265) rotate(9deg);
	transform-origin: center;
	position: absolute;
	width: 55.704px;
	height: 55.704px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_22_e {
	position: absolute;
	width: 55.704px;
	height: 55.704px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_13_fa {
	fill: url(#Ellipse_13_fa);
}
.Ellipse_13_fa {
	width: 54.631px;
	height: 54.631px;
	position: absolute;
	overflow: visible;
	transform: translate(50.346px, -30.38px) matrix(1,0,0,1,0.5366,0.5366) rotate(-1.137deg);
	transform-origin: center;
}
#Group_21_fb {
	opacity: 0.27;
	mix-blend-mode: soft-light;
	position: absolute;
	width: 16.253px;
	height: 22.978px;
	left: 36.391px;
	top: 9.324px;
	overflow: visible;
}
#Rectangle_9_fc {
	position: absolute;
	width: 19.646px;
	height: 25.238px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_10_fd {
	position: absolute;
	width: 19.646px;
	height: 25.238px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_8_ff {
	opacity: 0.5;
	fill: url(#Path_8_ff);
}
.Path_8_ff {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 24.463px;
	height: 26.352px;
	left: 6.244px;
	top: 12.449px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_23_fg {
	position: absolute;
	width: 53.612px;
	height: 21.272px;
	left: 3.766px;
	top: 18.217px;
	overflow: visible;
}
#Path_9_fi {
	fill: url(#Path_9_fi);
}
.Path_9_fi {
	overflow: visible;
	position: absolute;
	width: 56.279px;
	height: 29.396px;
	left: 0.002px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10_fk {
	fill: url(#Path_10_fk);
}
.Path_10_fk {
	mix-blend-mode: screen;
	overflow: visible;
	position: absolute;
	width: 54.76px;
	height: 25.384px;
	left: 0.613px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11_fm {
	fill: url(#Path_11_fm);
}
.Path_11_fm {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 55.717px;
	height: 28.015px;
	left: 0.354px;
	top: 1.381px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15481 {
	transform: matrix(1,0,0,1,1750.0681,703.3864) rotate(42deg);
	transform-origin: center;
	position: absolute;
	width: 65.589px;
	height: 65.589px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_22_fo {
	position: absolute;
	width: 65.589px;
	height: 65.589px;
	left: 0.002px;
	top: 0px;
	overflow: visible;
}
#Ellipse_13_fq {
	fill: url(#Ellipse_13_fq);
}
.Ellipse_13_fq {
	width: 64.326px;
	height: 64.326px;
	position: absolute;
	overflow: visible;
	transform: translate(265.619px, -79.044px) matrix(1,0,0,1,0.6318,0.6318) rotate(-1.137deg);
	transform-origin: center;
}
#Group_21_fr {
	opacity: 0.27;
	mix-blend-mode: soft-light;
	position: absolute;
	width: 19.137px;
	height: 27.055px;
	left: 50.68px;
	top: 29.259px;
	overflow: visible;
}
#Rectangle_9_fs {
	position: absolute;
	width: 32.324px;
	height: 32.911px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_10_ft {
	position: absolute;
	width: 32.324px;
	height: 32.911px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_8_fv {
	opacity: 0.5;
	fill: url(#Path_8_fv);
}
.Path_8_fv {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 36.828px;
	height: 37.026px;
	left: 18.68px;
	top: 13.052px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_23_fw {
	position: absolute;
	width: 63.125px;
	height: 25.046px;
	left: 13.846px;
	top: 16.95px;
	overflow: visible;
}
#Path_9_fy {
	fill: url(#Path_9_fy);
}
.Path_9_fy {
	overflow: visible;
	position: absolute;
	width: 63.67px;
	height: 60.852px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10_f {
	fill: url(#Path_10_f);
}
.Path_10_f {
	mix-blend-mode: screen;
	overflow: visible;
	position: absolute;
	width: 59.779px;
	height: 56.701px;
	left: 3.086px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11_ga {
	fill: url(#Path_11_ga);
}
.Path_11_ga {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 62.301px;
	height: 59.396px;
	left: 0.313px;
	top: 1.456px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_12 {
	position: absolute;
	width: 40.285px;
	height: 40.285px;
	left: 215.389px;
	top: 649.581px;
	overflow: visible;
}
#Ellipse_9_ga {
	fill: url(#Ellipse_9_ga);
}
.Ellipse_9_ga {
	width: 35.025px;
	height: 35.025px;
	position: absolute;
	overflow: visible;
	transform: translate(-97.225px, -283.598px) matrix(1,0,0,1,99.8549,286.2278) rotate(-80.581deg);
	transform-origin: center;
}
#Group_11_f {
	opacity: 0.27;
	mix-blend-mode: soft-light;
	position: absolute;
	width: 6.723px;
	height: 15.892px;
	left: 28.305px;
	top: 10.025px;
	overflow: visible;
}
#Rectangle_6_f {
	position: absolute;
	width: 6.723px;
	height: 15.892px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7_f {
	position: absolute;
	width: 6.723px;
	height: 15.892px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4_ga {
	opacity: 0.5;
	fill: url(#Path_4_ga);
}
.Path_4_ga {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 13.932px;
	height: 14.577px;
	left: 6.988px;
	top: 5.685px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15482 {
	position: absolute;
	width: 43.789px;
	height: 43.789px;
	left: 1605.324px;
	top: 162px;
	overflow: visible;
}
#Ellipse_9_gd {
	fill: url(#Ellipse_9_gd);
}
.Ellipse_9_gd {
	width: 38.072px;
	height: 38.072px;
	position: absolute;
	overflow: visible;
	transform: translate(-97.225px, -283.598px) matrix(1,0,0,1,100.0836,286.4566) rotate(-80.581deg);
	transform-origin: center;
}
#Group_11_ge {
	opacity: 0.27;
	mix-blend-mode: soft-light;
	position: absolute;
	width: 7.308px;
	height: 17.274px;
	left: 30.766px;
	top: 10.897px;
	overflow: visible;
}
#Rectangle_6_gf {
	position: absolute;
	width: 7.309px;
	height: 17.274px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7_gg {
	position: absolute;
	width: 7.309px;
	height: 17.274px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4_gi {
	opacity: 0.5;
	fill: url(#Path_4_gi);
}
.Path_4_gi {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 15.143px;
	height: 15.845px;
	left: 7.596px;
	top: 6.179px;
	transform: matrix(1,0,0,1,0,0);
}