.mediaViewInfo {
	--web-view-name: LGBT;
	--web-view-id: LGBT;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: LGBT;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#LGBT {
	position: absolute;
	width: 1920px;
	height: 2276px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: LGBT;
	--web-view-id: LGBT;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Header_ln {
	position: absolute;
	width: 1920px;
	height: 282px;
	left: 0px;
	top: -1px;
	overflow: visible;
}
#Path_8188_lo {
	opacity: 0.07;
	fill: rgba(178,0,255,1);
}
.Path_8188_lo {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 608.281px;
	transform: matrix(1,0,0,1,955.0146,1659.8594) rotate(40deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_8203_lp {
	opacity: 0.26;
	fill: rgba(255,205,249,1);
}
.Path_8203_lp {
	overflow: visible;
	position: absolute;
	width: 490.318px;
	height: 501.965px;
	transform: matrix(1,0,0,1,1617.6793,-276.9824) rotate(-37deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#LGBT_lq {
	left: 899px;
	top: 264px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(124,83,218,1);
}
#Group_3 {
	opacity: 0.3;
	transform: matrix(1,0,0,1,100.3171,104.5999) rotate(-32deg);
	transform-origin: center;
	position: absolute;
	width: 1108.202px;
	height: 1655.64px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(0,0,0,0);
	stroke: rgba(147,112,228,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 898.012px;
	height: 1010.633px;
	left: 923.936px;
	top: 669.102px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(0,0,0,0);
	stroke: rgba(147,112,228,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 740.066px;
	height: 791.963px;
	left: 326.047px;
	top: 133.61px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
	fill: rgba(0,0,0,0);
	stroke: rgba(147,112,228,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 397.062px;
	height: 510.319px;
	left: 191.828px;
	top: 815.447px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_2 {
	fill: rgba(0,0,0,0);
	stroke: rgba(147,112,228,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 168.385px;
	height: 147.672px;
	left: 387.041px;
	top: 729.397px;
}
#Group_15514 {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 735px;
	top: 425px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet19.html;
	cursor: pointer;
}
#Group_15495_lx {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1526_ly {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_ly {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#M_i_Con_l_ngi_ng_tnh {
	left: 20px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_l {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_l {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_l {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#M_i_con_l_ngi_ng_tnh1 {
	position: absolute;
	width: 450px;
	height: 280px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15515 {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 1291px;
	top: 425px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet20.html;
	cursor: pointer;
}
#Group_15496_l {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1526_l {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_l {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Internalized_Homophobia_Khi_bn {
	left: 20px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 300px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_ma {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_ma {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_ma {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#n_Internalized_Homophobia_Khi_ {
	position: absolute;
	width: 450px;
	height: 283px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15517 {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 179px;
	top: 425px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet18.html;
	cursor: pointer;
}
#Rectangle_1526_mb {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_mb {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Hnh_trnh_i_tm_chnh_mnh {
	left: 20px;
	top: 334px;
	position: absolute;
	overflow: visible;
	width: 310px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_md {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_md {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_me {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#n_i_tm_chnh_mnh {
	position: absolute;
	width: 450px;
	height: 278px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Search_Bar_mg {
	opacity: 0.69;
	position: absolute;
	width: 740px;
	height: 48px;
	left: 644px;
	top: 98px;
	overflow: visible;
}
#Rectangle_1515_mh {
	fill: rgba(255,255,255,1);
}
.Rectangle_1515_mh {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 758px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Search_mi {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 18px;
	top: 16px;
	overflow: visible;
}
#Rectangle_176_mj {
	fill: transparent;
}
.Rectangle_176_mj {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_99_mk {
	fill: rgba(34,34,34,1);
}
.Path_99_mk {
	overflow: visible;
	position: absolute;
	width: 15.9px;
	height: 15.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bn_ang_C_Thc_Mc_G__ml {
	left: 273px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,103,224,1);
}
#Microphone_mm {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 708px;
	top: 16px;
	overflow: visible;
}
#Rectangle_313_mn {
	fill: transparent;
}
.Rectangle_313_mn {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_124_mo {
	fill: rgba(34,34,34,1);
}
.Path_124_mo {
	overflow: visible;
	position: absolute;
	width: 12.562px;
	height: 16px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11_mp {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11_mp {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 25.316px;
	left: 43.5px;
	top: 11.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15539 {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 179px;
	top: 1076px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet13.html;
	cursor: pointer;
}
#Rectangle_1526_mr {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_mr {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Ngi_ng_tnh__vn_thnh_cng_y_thi {
	left: 20px;
	top: 315px;
	position: absolute;
	overflow: visible;
	width: 262px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_mt {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_mt {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_mu {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#Scroll_Group_4 {
	mix-blend-mode: normal;
	position: absolute;
	width: 450px;
	height: 280px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#n_Ngi_ng_tnh_vn_thnh_cng_y_thi {
	position: absolute;
	width: 452px;
	height: 349px;
	left: -2px;
	top: -2px;
	overflow: visible;
}
#Group_15540 {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 735px;
	top: 1076px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet12.html;
	cursor: pointer;
}
#Rectangle_1526_my {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_my {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Nhng_tn_thng_tm_l_khi_LGBT_khn {
	left: 20px;
	top: 315px;
	position: absolute;
	overflow: visible;
	width: 336px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_m {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_m {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_m {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#n_Nhng_tn_thng_tm_l_khi_LGBT_k {
	position: absolute;
	width: 450px;
	height: 283px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#logo_ti_gin_m {
	position: absolute;
	width: 291px;
	height: 291px;
	left: 123px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Group_20_m {
	position: absolute;
	width: 1128px;
	height: 32px;
	left: 639px;
	top: 33px;
	overflow: visible;
}
#CHUYN_MC_m {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: chuyenmuc.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#THUT_NG_m {
	left: 250px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: thuatngu.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CHIA_S_CNG_CU_m {
	left: 722px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: chiase.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#PODCAST_m {
	left: 491px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: podcast.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#NG_H_m {
	left: 1040px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ungho.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CHUYN_MC_m:hover {
	text-shadow: 1px 2px 6px #525252;
}
#THUT_NG_m:hover {
	text-shadow: 1px 2px 6px #525252;
}
#CHIA_S_CNG_CU_m:hover {
	text-shadow: 1px 2px 6px #525252;
}
#PODCAST_m:hover {
	text-shadow: 1px 2px 6px #525252;
}
#NG_H_m:hover {
	text-shadow: 1px 2px 6px #525252;
}
#Group_15553_na {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 1424px;
	overflow: visible;
}
#Group_15552_nb {
	mix-blend-mode: normal;
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Web_1920__1_nc {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15551_nd {
	position: absolute;
	width: 1476px;
	height: 245px;
	left: 169px;
	top: 576px;
	overflow: visible;
}
#MEE_I_A_ne {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_nf {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 651px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_wwwfacebookcomxusotha_ng {
	left: 1050px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 427px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Group_15550_nh {
	position: absolute;
	width: 194px;
	height: 36px;
	left: 1051px;
	top: 187px;
	overflow: visible;
}
#Rectangle_1528_ni {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1529_nj {
	position: absolute;
	width: 35px;
	height: 36px;
	left: 53px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1530_nk {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 107px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1531_nl {
	position: absolute;
	width: 34px;
	height: 36px;
	left: 160px;
	top: 0px;
	overflow: visible;
}