.mediaViewInfo {
	--web-view-name: Mười sáu cộng;
	--web-view-id: Mi_su_cng;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Mi_su_cng;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Mi_su_cng {
	position: absolute;
	width: 1920px;
	height: 1424px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Mười sáu cộng;
	--web-view-id: Mi_su_cng;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Header_mp {
	position: absolute;
	width: 1920px;
	height: 282px;
	left: 0px;
	top: -1px;
	overflow: visible;
}
#Group_3_mq {
	opacity: 0.3;
	transform: matrix(1,0,0,1,414.3833,236.1676) rotate(242deg);
	transform-origin: center;
	position: absolute;
	width: 1157.017px;
	height: 1769.379px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1_mr {
	fill: rgba(0,0,0,0);
	stroke: rgba(147,112,228,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_1_mr {
	overflow: visible;
	position: absolute;
	width: 2057.097px;
	height: 1757.837px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2_ms {
	fill: rgba(0,0,0,0);
	stroke: rgba(147,112,228,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_2_ms {
	overflow: visible;
	position: absolute;
	width: 1599.012px;
	height: 1461.764px;
	left: 362.406px;
	top: 250.498px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3_mt {
	fill: rgba(0,0,0,0);
	stroke: rgba(147,112,228,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_3_mt {
	overflow: visible;
	position: absolute;
	width: 1054.443px;
	height: 754.546px;
	left: 725.19px;
	top: 802.201px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_2_mu {
	fill: rgba(0,0,0,0);
	stroke: rgba(147,112,228,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ellipse_2_mu {
	position: absolute;
	overflow: visible;
	width: 283.539px;
	height: 338.5px;
	left: 577.077px;
	top: 809.236px;
}
#Web_1920__1_mv {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 581px;
	overflow: visible;
}
#Path_8203_mw {
	opacity: 0.26;
	fill: rgba(255,205,249,1);
}
.Path_8203_mw {
	overflow: visible;
	position: absolute;
	width: 490.318px;
	height: 501.965px;
	transform: matrix(1,0,0,1,1755.1578,90.328) rotate(-37deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#logo_ti_gin_mx {
	position: absolute;
	width: 291px;
	height: 291px;
	left: 123px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#MI_SU_CNG {
	left: 754px;
	top: 264px;
	position: absolute;
	overflow: visible;
	width: 413px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(124,83,218,1);
}
#Path_8188_mz {
	opacity: 0.07;
	fill: rgba(178,0,255,1);
}
.Path_8188_mz {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 608.281px;
	transform: matrix(1,0,0,1,-353.576,-84.1408) rotate(195deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_15516 {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 178px;
	top: 425px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet19.html;
	cursor: pointer;
}
#Group_15494_m {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1526_m {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_m {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Cng_bn_gi_chun_b_cho_ln_u_tht_ {
	left: 20px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_m {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_m {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_m {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#Image_1 {
	position: absolute;
	width: 450px;
	height: 280px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15495_m {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 735px;
	top: 425px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet17.html;
	cursor: pointer;
}
#Rectangle_1526_na {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_na {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#Mnh_nn_chm_sc_cu_b_bao_nhiu_ln {
	left: 20px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 300px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_na {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_na {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_nb {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#n_Mnh_nn_chm_sc_cu_b_bao_nhiu_ {
	position: absolute;
	width: 450px;
	height: 282px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15496_nd {
	position: absolute;
	width: 450px;
	height: 545px;
	left: 1291px;
	top: 425px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: baiviet18.html;
	cursor: pointer;
}
#Rectangle_1526_ne {
	fill: rgba(255,255,255,1);
}
.Rectangle_1526_ne {
	filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.302));
	position: absolute;
	overflow: visible;
	width: 495px;
	height: 590px;
	left: 0px;
	top: 0px;
}
#ng_xem_trnh_thai_khn_cp_nh_mt_ {
	left: 20px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 370px;
	white-space: nowrap;
	text-align: left;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(147,112,228,1);
}
#Line_12_ng {
	fill: transparent;
	stroke: rgba(147,112,228,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12_ng {
	overflow: visible;
	position: absolute;
	width: 244px;
	height: 2px;
	left: 20.5px;
	top: 429.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Vit_bnh_lun_nh {
	left: 20px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(147,112,228,1);
}
#n_a {
	position: absolute;
	width: 450px;
	height: 283px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_8_nj {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 169px;
	top: 1153px;
	overflow: visible;
}
#MEE_I_A_nk {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_nl {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 678px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_httpswwwfacebookcomxu_nm {
	left: 1050px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 534px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#icons8_facebook_circled_32_nn {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1050px;
	top: 164px;
	overflow: visible;
}
#icons8_instagram_logo_32_no {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1142px;
	top: 164px;
	overflow: visible;
}
#icons8_tiktok_32_np {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1234px;
	top: 164px;
	overflow: visible;
}
#icons8_mail_32_nq {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1326px;
	top: 164px;
	overflow: visible;
}
#Group_20_nr {
	position: absolute;
	width: 1128px;
	height: 32px;
	left: 639px;
	top: 33px;
	overflow: visible;
}
#CHUYN_MC_ns {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: chuyenmuc.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#THUT_NG_nt {
	left: 250px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: thuatngu.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CHIA_S_CNG_CU_nu {
	left: 722px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: share.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#PODCAST_nv {
	left: 491px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: podcast.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#NG_H_nw {
	left: 1040px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: donate.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Search_Bar_nx {
	opacity: 0.69;
	position: absolute;
	width: 740px;
	height: 48px;
	left: 644px;
	top: 98px;
	overflow: visible;
}
#Rectangle_1515_ny {
	fill: rgba(255,255,255,1);
}
.Rectangle_1515_ny {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 758px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Search_nz {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 18px;
	top: 16px;
	overflow: visible;
}
#Rectangle_176_n {
	fill: transparent;
}
.Rectangle_176_n {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_99_n {
	fill: rgba(34,34,34,1);
}
.Path_99_n {
	overflow: visible;
	position: absolute;
	width: 15.9px;
	height: 15.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bn_ang_C_Thc_Mc_G__n {
	left: 273px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,103,224,1);
}
#Microphone_n {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 708px;
	top: 16px;
	overflow: visible;
}
#Rectangle_313_n {
	fill: transparent;
}
.Rectangle_313_n {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_124_n {
	fill: rgba(34,34,34,1);
}
.Path_124_n {
	overflow: visible;
	position: absolute;
	width: 12.562px;
	height: 16px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11_n {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11_n {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 25.316px;
	left: 43.5px;
	top: 11.5px;
	transform: matrix(1,0,0,1,0,0);
}