.mediaViewInfo {
	--web-view-name: Thuật ngữ;
	--web-view-id: Thut_ng;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Thut_ng;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Thut_ng {
	position: absolute;
	width: 1920px;
	height: 2886px;
	background: linear-gradient(180deg, rgba(234,161,255,1) 0%, rgba(147,132,248,1) 100%);
	overflow: hidden;
	--web-view-name: Thuật ngữ;
	--web-view-id: Thut_ng;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Path_8187_o {
	opacity: 0.74;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_8187_o {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 608.281px;
	transform: matrix(1,0,0,1,1770.1275,669.5415) rotate(-25deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_8186_p {
	opacity: 0.74;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_8186_p {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 454.713px;
	transform: matrix(1,0,0,1,-170.7401,2255.3028) rotate(62deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Web_1920__1_q {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 2034px;
	overflow: visible;
}
#THUT_NG_r {
	left: 815px;
	top: 262px;
	position: absolute;
	overflow: visible;
	width: 291px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(255,255,255,1);
}
#logo_ti_gin_t {
	position: absolute;
	width: 291px;
	height: 291px;
	left: 123px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#A {
	left: 200px;
	top: 443px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Asexual {
	left: 363px;
	top: 479px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 99px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#B {
	left: 804px;
	top: 443px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Bicurious_Bisexual_BDSM_Butch {
	left: 950px;
	top: 479px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#C {
	left: 1324px;
	top: 443px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Closeted________ {
	left: 1493px;
	top: 479px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#D {
	left: 203px;
	top: 775px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Demisexual {
	left: 363px;
	top: 811px;
	position: absolute;
	overflow: visible;
	width: 270px;
	height: 99px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#E {
	left: 805px;
	top: 775px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Ex-gay {
	left: 950px;
	top: 811px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#F {
	left: 1349px;
	top: 775px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Friend_With_Benefit {
	left: 1493px;
	top: 811px;
	position: absolute;
	overflow: visible;
	width: 251px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#G {
	left: 182px;
	top: 1124px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Gender_Fluid_Gender_identity_G {
	left: 363px;
	top: 1160px;
	position: absolute;
	overflow: visible;
	width: 328px;
	height: 247px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#H {
	left: 796px;
	top: 1124px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Heterosexual {
	left: 950px;
	top: 1160px;
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#L {
	left: 1346px;
	top: 1124px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#LGBT_LGBTQ {
	left: 1493px;
	top: 1160px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#N {
	left: 190px;
	top: 1437px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Non-binary_Non-conforming {
	left: 364px;
	top: 1473px;
	position: absolute;
	overflow: visible;
	width: 348px;
	height: 146px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#O {
	left: 779px;
	top: 1437px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Omnisexual_One_Night_Stand {
	left: 951px;
	top: 1473px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#P {
	left: 1347px;
	top: 1437px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Pansexual_Panromantic {
	left: 1494px;
	top: 1473px;
	position: absolute;
	overflow: visible;
	width: 288px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Q {
	left: 182px;
	top: 1753px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Queer {
	left: 364px;
	top: 1789px;
	position: absolute;
	overflow: visible;
	width: 348px;
	height: 146px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#R {
	left: 799px;
	top: 1753px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Romantic_Attraction {
	left: 951px;
	top: 1789px;
	position: absolute;
	overflow: visible;
	width: 311px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#S {
	left: 1339px;
	top: 1753px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Sex_addict_Soft-butch_Sexual_A {
	left: 1494px;
	top: 1789px;
	position: absolute;
	overflow: hidden;
	width: 353px;
	height: 395px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Path_8188_o {
	opacity: 0.07;
	fill: rgba(178,0,255,1);
}
.Path_8188_o {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 608.281px;
	transform: matrix(1,0,0,1,1795.8882,1005.0617) rotate(40deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_15481_o {
	transform: matrix(1,0,0,1,1715.0679,1621.8906) rotate(42deg);
	transform-origin: center;
	position: absolute;
	width: 65.589px;
	height: 65.589px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_22_p {
	position: absolute;
	width: 65.589px;
	height: 65.589px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_13_r {
	fill: url(#Ellipse_13_r);
}
.Ellipse_13_r {
	width: 64.326px;
	height: 64.326px;
	position: absolute;
	overflow: visible;
	transform: translate(265.62px, -79.043px) matrix(1,0,0,1,0.6318,0.6318) rotate(-1.137deg);
	transform-origin: center;
}
#Group_21_s {
	opacity: 0.27;
	mix-blend-mode: soft-light;
	position: absolute;
	width: 19.137px;
	height: 27.055px;
	left: 50.682px;
	top: 29.26px;
	overflow: visible;
}
#Rectangle_9_t {
	position: absolute;
	width: 32.325px;
	height: 32.911px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_10_u {
	position: absolute;
	width: 32.325px;
	height: 32.911px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_8_w {
	opacity: 0.5;
	fill: url(#Path_8_w);
}
.Path_8_w {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 36.828px;
	height: 37.026px;
	left: 18.68px;
	top: 13.052px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_23_x {
	position: absolute;
	width: 63.125px;
	height: 25.046px;
	left: 13.846px;
	top: 16.95px;
	overflow: visible;
}
#Path_9_z {
	fill: url(#Path_9_z);
}
.Path_9_z {
	overflow: visible;
	position: absolute;
	width: 63.67px;
	height: 60.852px;
	left: -0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10_a {
	fill: url(#Path_10_a);
}
.Path_10_a {
	mix-blend-mode: screen;
	overflow: visible;
	position: absolute;
	width: 59.78px;
	height: 56.701px;
	left: 3.085px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11_a {
	fill: url(#Path_11_a);
}
.Path_11_a {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 62.301px;
	height: 59.396px;
	left: 0.312px;
	top: 1.455px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15482_ {
	position: absolute;
	width: 43.789px;
	height: 43.789px;
	left: 1570.324px;
	top: 1080.504px;
	overflow: visible;
}
#Ellipse_9_a {
	fill: url(#Ellipse_9_a);
}
.Ellipse_9_a {
	width: 38.072px;
	height: 38.072px;
	position: absolute;
	overflow: visible;
	transform: translate(-97.225px, -283.598px) matrix(1,0,0,1,100.0836,286.4566) rotate(-80.581deg);
	transform-origin: center;
}
#Group_11_ {
	opacity: 0.27;
	mix-blend-mode: soft-light;
	position: absolute;
	width: 7.308px;
	height: 17.274px;
	left: 30.766px;
	top: 10.897px;
	overflow: visible;
}
#Rectangle_6_ {
	position: absolute;
	width: 7.309px;
	height: 17.274px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7_ {
	position: absolute;
	width: 7.309px;
	height: 17.274px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4_c {
	opacity: 0.5;
	fill: url(#Path_4_c);
}
.Path_4_c {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 15.143px;
	height: 15.845px;
	left: 7.595px;
	top: 6.179px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15483_c {
	position: absolute;
	width: 25.788px;
	height: 25.788px;
	left: 1768.389px;
	top: 1483.049px;
	overflow: visible;
}
#Ellipse_9_g {
	fill: url(#Ellipse_9_g);
}
.Ellipse_9_g {
	width: 22.421px;
	height: 22.421px;
	position: absolute;
	overflow: visible;
	transform: translate(-97.225px, -283.598px) matrix(1,0,0,1,98.9085,285.2815) rotate(-80.581deg);
	transform-origin: center;
}
#Group_11_g {
	opacity: 0.27;
	mix-blend-mode: soft-light;
	position: absolute;
	width: 4.304px;
	height: 10.173px;
	left: 18.119px;
	top: 6.418px;
	overflow: visible;
}
#Rectangle_6_g {
	position: absolute;
	width: 4.304px;
	height: 10.173px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7_h {
	position: absolute;
	width: 4.304px;
	height: 10.173px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4_j {
	opacity: 0.5;
	fill: url(#Path_4_j);
}
.Path_4_j {
	mix-blend-mode: overlay;
	overflow: visible;
	position: absolute;
	width: 8.918px;
	height: 9.332px;
	left: 4.474px;
	top: 3.639px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3_l {
	opacity: 0.66;
	transform: matrix(1,0,0,1,-203.8577,-206.3196) rotate(-20deg);
	transform-origin: center;
	position: absolute;
	width: 447.551px;
	height: 684.422px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1_l {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_1_l {
	overflow: visible;
	position: absolute;
	width: 618.416px;
	height: 785.407px;
	left: 40.8px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2_m {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_2_m {
	overflow: visible;
	position: absolute;
	width: 524.99px;
	height: 602.124px;
	left: 40.643px;
	top: 137.354px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3_n {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_3_n {
	overflow: visible;
	position: absolute;
	width: 250.034px;
	height: 418.258px;
	left: 97.322px;
	top: 253.352px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_2_o {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ellipse_2_o {
	position: absolute;
	overflow: visible;
	width: 132.526px;
	height: 101.795px;
	left: 262.725px;
	top: 218.173px;
}
#Group_15493 {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 169px;
	top: 2611px;
	overflow: visible;
}
#Group_8_q {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#MEE_I_A_r {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_s {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 678px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_httpswwwfacebookcomxu_u {
	left: 1050px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 534px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#icons8_facebook_circled_32_u {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1050px;
	top: 164px;
	overflow: visible;
}
#icons8_instagram_logo_32_y {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1142px;
	top: 164px;
	overflow: visible;
}
#icons8_tiktok_32_y {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1234px;
	top: 164px;
	overflow: visible;
}
#icons8_mail_32_y {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1326px;
	top: 164px;
	overflow: visible;
}
#Group_20_y {
	position: absolute;
	width: 1128px;
	height: 32px;
	left: 639px;
	top: 33px;
	overflow: visible;
}
#CHUYN_MC_z {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: chuyenmuc.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#THUT_NG_ {
	left: 250px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CHIA_S_CNG_CU_ {
	left: 722px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: chiase.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#PODCAST_ {
	left: 491px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Podcast.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#NG_H_ {
	left: 1040px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: donate.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Search_Bar_ {
	opacity: 0.69;
	position: absolute;
	width: 740px;
	height: 48px;
	left: 644px;
	top: 98px;
	overflow: visible;
}
#Rectangle_1515_ {
	fill: rgba(255,255,255,1);
}
.Rectangle_1515_ {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 758px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Search_ {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 18px;
	top: 16px;
	overflow: visible;
}
#Rectangle_176_ {
	fill: transparent;
}
.Rectangle_176_ {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_99_ {
	fill: rgba(34,34,34,1);
}
.Path_99_ {
	overflow: visible;
	position: absolute;
	width: 15.9px;
	height: 15.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bn_ang_C_Thc_Mc_G__ {
	left: 273px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,103,224,1);
}
#Microphone_a {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 708px;
	top: 16px;
	overflow: visible;
}
#Rectangle_313_b {
	fill: transparent;
}
.Rectangle_313_b {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_124_c {
	fill: rgba(34,34,34,1);
}
.Path_124_c {
	overflow: visible;
	position: absolute;
	width: 12.562px;
	height: 16px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11_d {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11_d {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 25.316px;
	left: 43.5px;
	top: 11.5px;
	transform: matrix(1,0,0,1,0,0);
}