.mediaViewInfo {
	--web-view-name: Thuật ngữ;
	--web-view-id: Thut_ng;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Thut_ng;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Thut_ng {
	position: absolute;
	width: 1920px;
	height: 2886px;
	background: linear-gradient(180deg, rgba(234,161,255,1) 0%, rgba(147,132,248,1) 100%);
	overflow: hidden;
	--web-view-name: Thuật ngữ;
	--web-view-id: Thut_ng;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Path_8187_m {
	opacity: 0.74;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_8187_m {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 608.281px;
	transform: matrix(1,0,0,1,1770.1275,669.5415) rotate(-25deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_8186_n {
	opacity: 0.74;
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_8186_n {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 454.713px;
	transform: matrix(1,0,0,1,-170.7401,2255.3028) rotate(62deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Web_1920__1_o {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 2034px;
	overflow: visible;
}
#THUT_NG_p {
	left: 815px;
	top: 262px;
	position: absolute;
	overflow: visible;
	width: 291px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(255,255,255,1);
}
#logo_ti_gin_s {
	position: absolute;
	width: 291px;
	height: 291px;
	left: 123px;
	top: -47px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: main.html;
	cursor: pointer;
}
#A {
	left: 200px;
	top: 443px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Asexual {
	left: 363px;
	top: 479px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 99px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#B {
	left: 804px;
	top: 443px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Bicurious_Bisexual_BDSM_Butch {
	left: 950px;
	top: 479px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#C {
	left: 1324px;
	top: 443px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Closeted________ {
	left: 1493px;
	top: 479px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#D {
	left: 203px;
	top: 775px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Demisexual {
	left: 363px;
	top: 811px;
	position: absolute;
	overflow: visible;
	width: 270px;
	height: 99px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#E {
	left: 805px;
	top: 775px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Ex-gay {
	left: 950px;
	top: 811px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#F {
	left: 1349px;
	top: 775px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Friend_With_Benefit {
	left: 1493px;
	top: 811px;
	position: absolute;
	overflow: visible;
	width: 251px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#G {
	left: 182px;
	top: 1124px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Gender_Fluid_Gender_identity_G {
	left: 363px;
	top: 1160px;
	position: absolute;
	overflow: visible;
	width: 328px;
	height: 247px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#H {
	left: 796px;
	top: 1124px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Heterosexual {
	left: 950px;
	top: 1160px;
	position: absolute;
	overflow: visible;
	width: 290px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#L {
	left: 1346px;
	top: 1124px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#LGBT_LGBTQ {
	left: 1493px;
	top: 1160px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#N {
	left: 190px;
	top: 1437px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Non-binary_Non-conforming {
	left: 364px;
	top: 1473px;
	position: absolute;
	overflow: visible;
	width: 348px;
	height: 146px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#O {
	left: 779px;
	top: 1437px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Omnisexual_One_Night_Stand {
	left: 951px;
	top: 1473px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#P {
	left: 1347px;
	top: 1437px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Pansexual_Panromantic {
	left: 1494px;
	top: 1473px;
	position: absolute;
	overflow: visible;
	width: 288px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Q {
	left: 182px;
	top: 1753px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Queer {
	left: 364px;
	top: 1789px;
	position: absolute;
	overflow: visible;
	width: 348px;
	height: 146px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#R {
	left: 799px;
	top: 1753px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Romantic_Attraction {
	left: 951px;
	top: 1789px;
	position: absolute;
	overflow: visible;
	width: 311px;
	height: 228px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#S {
	left: 1339px;
	top: 1753px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: right;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	color: rgba(255,255,255,1);
}
#Sex_addict_Soft-butch_Sexual_A {
	left: 1494px;
	top: 1789px;
	position: absolute;
	overflow: hidden;
	width: 353px;
	height: 395px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Path_8188_l {
	opacity: 0.07;
	fill: rgba(178,0,255,1);
}
.Path_8188_l {
	overflow: visible;
	position: absolute;
	width: 587.48px;
	height: 608.281px;
	transform: matrix(1,0,0,1,1795.8882,1005.0617) rotate(40deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_15493 {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 169px;
	top: 2611px;
	overflow: visible;
}
#Group_8_n {
	position: absolute;
	width: 1583px;
	height: 245px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#MEE_I_A_o {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_p {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 678px;
	white-space: nowrap;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Facebook_httpswwwfacebookcomxu_q {
	left: 1050px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 534px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -5px;
	text-align: left;
	font-family: Merriweather Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#icons8_facebook_circled_32_r {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1050px;
	top: 164px;
	overflow: visible;
}
#icons8_instagram_logo_32_u {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1142px;
	top: 164px;
	overflow: visible;
}
#icons8_tiktok_32_x {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1234px;
	top: 164px;
	overflow: visible;
}
#icons8_mail_32_x {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1326px;
	top: 164px;
	overflow: visible;
}
#Group_20_v {
	position: absolute;
	width: 1128px;
	height: 32px;
	left: 639px;
	top: 33px;
	overflow: visible;
}
#CHUYN_MC_w {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: chuyenmuc.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#THUT_NG_x {
	left: 250px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CHIA_S_CNG_CU_y {
	left: 722px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: share.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#PODCAST_z {
	left: 491px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: podcast.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#NG_H_ {
	left: 1040px;
	top: 1px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: donate.html;
	cursor: pointer;
	text-align: right;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Search_Bar_ {
	opacity: 0.69;
	position: absolute;
	width: 740px;
	height: 48px;
	left: 644px;
	top: 98px;
	overflow: visible;
}
#Rectangle_1515_ {
	fill: rgba(255,255,255,1);
}
.Rectangle_1515_ {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
	position: absolute;
	overflow: visible;
	width: 758px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Search_ {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 18px;
	top: 16px;
	overflow: visible;
}
#Rectangle_176_ {
	fill: transparent;
}
.Rectangle_176_ {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_99_ {
	fill: rgba(34,34,34,1);
}
.Path_99_ {
	overflow: visible;
	position: absolute;
	width: 15.9px;
	height: 15.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bn_ang_C_Thc_Mc_G__ {
	left: 273px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,103,224,1);
}
#Microphone_ {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 708px;
	top: 16px;
	overflow: visible;
}
#Rectangle_313_ {
	fill: transparent;
}
.Rectangle_313_ {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
#Path_124_ {
	fill: rgba(34,34,34,1);
}
.Path_124_ {
	overflow: visible;
	position: absolute;
	width: 12.562px;
	height: 16px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11_a {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11_a {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 25.316px;
	left: 43.5px;
	top: 11.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Scroll_Group_1_b {
	mix-blend-mode: color-burn;
	transform: matrix(1,0,0,1,-115.2282,-273.7045) rotate(200deg);
	transform-origin: center;
	position: absolute;
	width: 716.4px;
	height: 1085.751px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#Web_1920__2_c {
	position: absolute;
	width: 2516.533px;
	height: 2168.487px;
	left: -698.235px;
	top: -532.486px;
	overflow: visible;
}