.mediaViewInfo {
	--web-view-name: TL_1;
	--web-view-id: TL_1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: arial;
}
:root {
	--web-view-ids: TL_1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#TL_1 {
	position: absolute;
	width: 1920px;
	height: 5903px;
	font-family: arial;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: TL_1;
	--web-view-id: TL_1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: arial;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Chng_ta_bt_u_tr_thnh_ngoi_ln_r {
	position: absolute;
	width: 1920px;
	height: 6480px;
	left: 0px;
	top: 57px;
	overflow: visible;
}
#Group_4_ff {
	position: absolute;
	width: 1920px;
	height: 169px;
	left: 0px;
	top: -47px;
	overflow: visible;
}
#Path_125_fg {
	fill: rgba(31,101,102,1);
}
.Path_125_fg {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 75px;
	left: 0px;
	top: 47px;
	transform: matrix(1,0,0,1,0,0);
}
#logo_ti_gin_fh {
	position: absolute;
	width: 169px;
	height: 169px;
	left: 875.5px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#icons8_back_48px_fi {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 80px;
	top: 61px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ChuyenMuc_TL.html;
	cursor: pointer;
}
#Group_10_fj {
	position: absolute;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 5560px;
	overflow: visible;
}
#Rectangle_1522_fk {
	fill: rgba(239,235,220,1);
}
.Rectangle_1522_fk {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 343px;
	left: 0px;
	top: 0px;
}
#Group_8_fl {
	position: absolute;
	width: 1567px;
	height: 238px;
	left: 177px;
	top: 65px;
	overflow: visible;
}
#MEE_I_A_fm {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,176,192,1);
}
#Thng_qua_cc_d_n_ca_chng_mnh_Me_fn {
	left: 0px;
	top: 85px;
	position: absolute;
	overflow: visible;
	width: 863px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,176,192,1);
}
#Facebook_Instagram_TikTok_Mail_fo {
	left: 1190px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 378px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,176,192,1);
}
#icons8_facebook_circled_32_fp {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1190px;
	top: 166px;
	overflow: visible;
}
#icons8_instagram_logo_32_fq {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1282px;
	top: 166px;
	overflow: visible;
}
#icons8_tiktok_32_fr {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1374px;
	top: 166px;
	overflow: visible;
}
#icons8_mail_32_fs {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1466px;
	top: 166px;
	overflow: visible;
}