.mediaViewInfo {
	--web-view-name: Welcome;
	--web-view-id: Welcome;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: arial;
}
:root {
	--web-view-ids: Welcome;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Welcome {
	position: absolute;
	width: 1920px;
	height: 1080px;
	font-family: arial;
	background-color: rgba(255,176,192,1);
	overflow: hidden;
	--web-view-name: Welcome;
	--web-view-id: Welcome;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-page-font: arial;
}
#Group_20 {
	position: absolute;
	width: 2032px;
	height: 1143px;
	left: -56px;
	top: -63px;
	overflow: visible;
}
#Mu {
	position: absolute;
	width: 2032px;
	height: 1143px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Cho_mng_cc_bn_n_vi_X_S_Thn_Tee {
	filter: drop-shadow(1px 3px 6px rgba(80, 42, 185, 1));
	left: 1291px;
	top: 661px;
	position: absolute;
	overflow: visible;
	width: 477px;
	white-space: nowrap;
	text-align: center;
	font-family: Century Gothic, arial;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(255,255,255,1);
}
#Hi {
	filter: drop-shadow(2px 3px 6px rgba(97, 66, 186, 1));
	left: 1361.5px;
	top: 332.5px;
	position: absolute;
	overflow: visible;
	width: 331px;
	white-space: nowrap;
	text-align: center;
	font-family: UVF Voyage, arial;
	font-style: normal;
	font-weight: normal;
	font-size: 267px;
	color: rgba(255,255,255,1);
}